<a href="https://colab.research.google.com/github/Ahamedthaiyub/Workfoce360/blob/main/Tier(2)_attrition_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Importing and instaling requirements***

In [1]:
pip install google

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: google in /home/u191324/.local/lib/python3.9/site-packages (3.0.0)
Requirement already satisfied: beautifulsoup4 in /home/u191324/.local/lib/python3.9/site-packages (from google) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /home/u191324/.local/lib/python3.9/site-packages (from beautifulsoup4->google) (2.4.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install keras

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: keras in /home/u191324/.local/lib/python3.9/site-packages (2.12.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [4]:
pip install scikit-learn-intelex

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn-intelex in /home/u191324/.local/lib/python3.9/site-packages (2023.1.1)
Requirement already satisfied: daal4py==2023.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from scikit-learn-intelex) (2023.1.1)
Requirement already satisfied: scikit-learn>=0.22 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from scikit-learn-intelex) (1.1.1)
Requirement already satisfied: daal==2023.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from daal4py==2023.1.1->scikit-learn-intelex) (2023.1.1)
Requirement already satisfied: numpy>=1.19 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from daal4py==2023.1.1->scikit-learn-intelex) (1.22.3)
Requirement already satisfied: tbb==2021.* in /home/u191324/.local/lib/python3.9/site-packages (from daal==2023.1.1->daal4py==2023.1.1->scikit-learn-intelex) (2021.9.0)
Requirement already satisfied: joblib>=1.0.0 in /home/u191324/.local/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install scikit-learn-intelex

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn-intelex in /home/u191324/.local/lib/python3.9/site-packages (2023.1.1)
Requirement already satisfied: daal4py==2023.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from scikit-learn-intelex) (2023.1.1)
Requirement already satisfied: scikit-learn>=0.22 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from scikit-learn-intelex) (1.1.1)
Requirement already satisfied: numpy>=1.19 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from daal4py==2023.1.1->scikit-learn-intelex) (1.22.3)
Requirement already satisfied: daal==2023.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from daal4py==2023.1.1->scikit-learn-intelex) (2023.1.1)
Requirement already satisfied: tbb==2021.* in /home/u191324/.local/lib/python3.9/site-packages (from daal==2023.1.1->daal4py==2023.1.1->scikit-learn-intelex) (2021.9.0)
Requirement already satisfied: scipy>=1.3.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.7.3)
Requirement already satisfied: joblib>=1.0.0 in /home/u191324/.local/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
##importing libraries
import pandas as pd
import numpy as np

In [7]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/u191324/.local/lib/python3.9/site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from seaborn) (1.5.1)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from seaborn) (1.22.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from seaborn) (3.6.3)
Requirement already satisfied: cycler>=0.10 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: python-dateutil>=2.7 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pytz>=2020.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from pandas>=0.25->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from sklearnex import patch_sklearn
patch_sklearn()
import pandas as pd
import time

from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from matplotlib import pyplot as plt
import seaborn as sn
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn import neural_network 
from sklearn import tree
from sklearn.feature_extraction.text import TfidfVectorizer
from imblearn.over_sampling import SMOTE

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [9]:
! pip install -U imbalanced-learn

# !pip install imblearn
# pip install -c glemaitre imbalanced-learn
# pip install imblearn==0.0

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imbalanced-learn in /home/u191324/.local/lib/python3.9/site-packages (0.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn) (1.22.3)
Requirement already satisfied: scipy>=1.3.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn) (1.7.3)

In [10]:

!pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imblearn in /home/u191324/.local/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /home/u191324/.local/lib/python3.9/site-packages (from imblearn) (0.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.1.1)
Requirement already satisfied: joblib>=1.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.22.3)

In [11]:
pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imblearn in /home/u191324/.local/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /home/u191324/.local/lib/python3.9/site-packages (from imblearn) (0.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.22.3)
Requirement already satisfied: scipy>=1.3.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/u191324/.local/lib/python3.9/site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from seaborn) (1.5.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from seaborn) (3.6.3)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from seaborn) (1.22.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: contourpy>=1.0.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pytz>=2020.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from pandas>=0.25->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
#importing Machine larning libraries
from sklearn import preprocessing
from sklearnex import patch_sklearn
patch_sklearn()

from sklearn.impute import SimpleImputer

from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score


import warnings
warnings.filterwarnings('ignore')

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [14]:
import os
os.getcwd()

'/home/u191324/inteloneapi hackathon/Untitled Folder/wokforce 360'

## **PROBLEM STATEMENT(tier 2)**
Employee attrition is a significant issue for companies, resulting in substantial costs for hiring, retraining, productivity, and work loss for each employee who leaves. To address this, a model needs to be built to predict whether an employee is likely to quit in the near future.

# Reading the data sets & knowing about each attribute.

In [15]:
##reading train_data 
#Reading train_data 
train_attrition = pd.read_csv("/home/u191324/inteloneapi hackathon/Untitled Folder/wokforce 360/train_attrition.csv")
train_work = pd.read_csv("/home/u191324/inteloneapi hackathon/Untitled Folder/wokforce 360/train_work.csv")

In [16]:
#Reading the employee_data
emp_data = pd.read_csv("/home/u191324/inteloneapi hackathon/Untitled Folder/wokforce 360/employee_data.csv")

In [17]:
#Reading the test data 
test_attrition = pd.read_csv("/home/u191324/inteloneapi hackathon/Untitled Folder/wokforce 360/test_attrition.csv")
test_work = pd.read_csv("/home/u191324/inteloneapi hackathon/Untitled Folder/wokforce 360/test_work.csv")

##viewing train_work

In [18]:
train_work.head()

,EmployeeID,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,184.0,144.0,40.0,144.0,3,77
1,emp-1,176.0,136.0,40.0,136.0,2,98
2,emp-1,200.0,120.0,72.0,120.0,1,14
3,emp-1,160.0,144.0,8.0,144.0,3,147
4,emp-1,171.0,135.0,0.0,135.0,1,42

## viewing of all datasets

In [19]:
##viewing train attrition
train_attrition.head()

  EmployeeID  Left_Company
0      emp-1             0
1     emp-10             1
2    emp-100             0
3    emp-101             0
4    emp-102             0

In [20]:
# viewing  emp_data
emp_data.head()

,EmployeeID,Job_History,Joining_Date,Designation,Sex
0,emp-10,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0
1,emp-108,"Worked at Company - 205 , Company - 373 , Comp...",2012_01,VP,1
2,emp-115,"Worked at Company - 690 , Company - 280 , Comp...",2012_02,Senior,1
3,emp-121,"Worked at Company - 684 , Company - 159 , Comp...",2012_03,VP,1
4,emp-138,"Worked at Company - 443 , Company - 121 , Comp...",2012_05,Senior,1

In [21]:
##dimensions 

print("The train_attrition has {} rows & {} columns." .format(train_attrition.shape[0], train_attrition.shape[1]))
print("The train_work has {} rows & {} columns." .format(train_work.shape[0], train_work.shape[1]))

The train_attrition has 245 rows & 2 columns.
The train_work has 3983 rows & 7 columns.

In [22]:
print("The employee data has {} rows & {} columns." .format(emp_data.shape[0], emp_data.shape[1]))

The employee data has 296 rows & 5 columns.

In [23]:
train_work.head()

,EmployeeID,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,184.0,144.0,40.0,144.0,3,77
1,emp-1,176.0,136.0,40.0,136.0,2,98
2,emp-1,200.0,120.0,72.0,120.0,1,14
3,emp-1,160.0,144.0,8.0,144.0,3,147
4,emp-1,171.0,135.0,0.0,135.0,1,42

In [24]:

train_attrition.head()

  EmployeeID  Left_Company
0      emp-1             0
1     emp-10             1
2    emp-100             0
3    emp-101             0
4    emp-102             0

In [25]:
train_emp_data = pd.merge(train_attrition, emp_data, how='left', on='EmployeeID')

In [26]:
train_emp_data.shape

(245, 6)

In [27]:
train_emp_data.head()

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex
0,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1
1,emp-10,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0
2,emp-100,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1
3,emp-101,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1
4,emp-102,0,Worked at Company - 234,2011_12,Senior,1

In [28]:
train_final = pd.merge(train_emp_data, train_work, on='EmployeeID', how='left')

In [29]:
train_final.shape

(3983, 12)

In [30]:


print("The train_attrition has {} rows & {} columns." .format(train_attrition.shape[0], train_attrition.shape[1]))
print("The train_work has {} rows & {} columns." .format(train_work.shape[0], train_work.shape[1]))

The train_attrition has 245 rows & 2 columns.
The train_work has 3983 rows & 7 columns.

In [31]:

train = train_final.groupby('EmployeeID').agg('max')
train

,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
EmployeeID,,,,,,,,,,,
emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,205.0,189.0,72.0,189.0,3,231
emp-10,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0,241.0,233.0,120.0,186.0,2,147
emp-100,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1,278.0,264.0,40.0,264.0,3,308
emp-101,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1,345.5,233.5,64.0,0.0,2,217
emp-102,0,Worked at Company - 234,2011_12,Senior,1,270.0,249.0,88.0,213.0,2,231
...,...,...,...,...,...,...,...,...,...,...,...
emp-94,0,"Worked at Company - 71 , Company - 324 , Compa...",2011_09,Senior,0,246.0,198.0,80.0,198.0,2,105
emp-96,0,"Worked at Company - 27 , Company - 159",2011_10,Senior,1,254.5,246.5,88.0,239.0,3,238
emp-97,1,"Worked at Company - 789 , Company - 785 , Comp...",2011_10,Junior,0,200.0,176.0,96.0,176.0,2,126
emp-98,0,"Worked at Company - 817 , Company - 404 , Comp...",2011_11,Senior,1,244.0,220.0,80.0,35.0,4,385
emp-99,0,"Worked at Company - 204 , Company - 171 , Comp...",2011_11,Senior,1,244.0,242.0,56.0,73.5,2,238

In [32]:
train.isnull().sum()

Left_Company         0
Job_History          0
Joining_Date         0
Designation          0
Sex                  0
TotalWorkingHours    0
Billable_Hours       0
Hours_off_Duty       0
Touring_Hours        0
NoOfProjects         0
ActualTimeSpent      0
dtype: int64

In [33]:
train_final.head()

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,184.0,144.0,40.0,144.0,3,77
1,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,176.0,136.0,40.0,136.0,2,98
2,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,200.0,120.0,72.0,120.0,1,14
3,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,160.0,144.0,8.0,144.0,3,147
4,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,171.0,135.0,0.0,135.0,1,42

In [34]:

emp_data.head()

,EmployeeID,Job_History,Joining_Date,Designation,Sex
0,emp-10,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0
1,emp-108,"Worked at Company - 205 , Company - 373 , Comp...",2012_01,VP,1
2,emp-115,"Worked at Company - 690 , Company - 280 , Comp...",2012_02,Senior,1
3,emp-121,"Worked at Company - 684 , Company - 159 , Comp...",2012_03,VP,1
4,emp-138,"Worked at Company - 443 , Company - 121 , Comp...",2012_05,Senior,1

In [35]:
print("The employee data has {} rows & {} columns." .format(emp_data.shape[0], emp_data.shape[1]))

The employee data has 296 rows & 5 columns.

In [36]:
test_attrition.head()

  EmployeeID  Left_Company
0    emp-106           NaN
1    emp-112           NaN
2    emp-114           NaN
3    emp-118           NaN
4     emp-12           NaN

## Merging the datasets based on the employee data.

## Merging the train data into a single datafrfame

In [37]:
train_emp_data = pd.merge(train_attrition, emp_data, how='left', on='EmployeeID')

In [38]:
train_emp_data.shape

(245, 6)

In [39]:
train_final = pd.merge(train_emp_data, train_work, on='EmployeeID', how='left')

In [40]:
print(train_final.shape)
train_final.head()

(3983, 12)

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,184.0,144.0,40.0,144.0,3,77
1,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,176.0,136.0,40.0,136.0,2,98
2,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,200.0,120.0,72.0,120.0,1,14
3,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,160.0,144.0,8.0,144.0,3,147
4,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,171.0,135.0,0.0,135.0,1,42

In [41]:

train = train_final.groupby('EmployeeID').agg('max')

In [42]:
train.head()

,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
EmployeeID,,,,,,,,,,,
emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,205.0,189.0,72.0,189.0,3,231
emp-10,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0,241.0,233.0,120.0,186.0,2,147
emp-100,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1,278.0,264.0,40.0,264.0,3,308
emp-101,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1,345.5,233.5,64.0,0.0,2,217
emp-102,0,Worked at Company - 234,2011_12,Senior,1,270.0,249.0,88.0,213.0,2,231

## Merging the test data into Single data frame.

In [43]:


test_emp_data = pd.merge(test_attrition, emp_data, how='left', on='EmployeeID')

In [44]:
test_emp_data.head()

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex
0,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0
1,emp-112,NaN,"Worked at Company - 42 , Company - 432 , Compa...",2012_02,VP,1
2,emp-114,NaN,"Worked at Company - 99 , Company - 88 , Compan...",2012_02,EVP,1
3,emp-118,NaN,"Worked at Company - 554 , Company - 304",2012_04,EVP,1
4,emp-12,NaN,"Worked at Company - 548 , Company - 405",2006_09,VP,1

In [45]:
test_final = pd.merge(test_emp_data,test_work, how='left', on='EmployeeID')

In [46]:
test_final.head()

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,96.0,16.0,40.0,2.0,2,42
1,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,80.0,0.0,8.0,0.0,0,0
2,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,200.0,16.0,0.0,0.0,1,0
3,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,165.0,114.0,40.0,0.0,1,28
4,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,251.0,219.0,8.0,0.0,1,63

In [47]:

test = test_final.groupby(by='EmployeeID').agg('max')

In [48]:
test.shape

(51, 11)

In [49]:

train.to_csv("train.csv", index=True)
test.to_csv("test.csv", index=True)

## Feature engineering:

In [50]:
train_final = pd.read_csv("/home/u191324/inteloneapi hackathon/Untitled Folder/wokforce 360/train.csv")
test_final = pd.read_csv("/home/u191324/inteloneapi hackathon/Untitled Folder/wokforce 360/test.csv")

In [51]:

print((train_final.columns))

Index(['EmployeeID', 'Left_Company', 'Job_History', 'Joining_Date',
       'Designation', 'Sex', 'TotalWorkingHours', 'Billable_Hours',
       'Hours_off_Duty', 'Touring_Hours', 'NoOfProjects', 'ActualTimeSpent'],
      dtype='object')

In [52]:
print(test_final.columns)

Index(['EmployeeID', 'Left_Company', 'Job_History', 'Joining_Date',
       'Designation', 'Sex', 'TotalWorkingHours', 'Billable_Hours',
       'Hours_off_Duty', 'Touring_Hours', 'NoOfProjects', 'ActualTimeSpent'],
      dtype='object')

In [53]:
#Dropping
train_final.drop(columns=['EmployeeID'], axis=1,inplace=True)
test_final.drop(columns=['EmployeeID','Left_Company'], axis=1, inplace=True)

In [54]:
print("Train data shape : {} " .format(train_final.shape))
print("Test data shape: {} ".format(test_final.shape))

Train data shape : (245, 11)
Test data shape: (51, 10)

In [55]:
train_final.head()

,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,205.0,189.0,72.0,189.0,3,231
1,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0,241.0,233.0,120.0,186.0,2,147
2,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1,278.0,264.0,40.0,264.0,3,308
3,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1,345.5,233.5,64.0,0.0,2,217
4,0,Worked at Company - 234,2011_12,Senior,1,270.0,249.0,88.0,213.0,2,231

In [56]:
# Splitting the Joini_date column into Joini year & Joiing month.

train_final[['joining_year','joining_month']] = train_final['Joining_Date'].str.split("_", expand=True)


test_final[['joining_year','joining_month']] = test_final['Joining_Date'].str.split("_", expand=True)

In [57]:
#checking
train_final.head()

,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,joining_year,joining_month
0,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,205.0,189.0,72.0,189.0,3,231,2011,01
1,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0,241.0,233.0,120.0,186.0,2,147,2006,02
2,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1,278.0,264.0,40.0,264.0,3,308,2011,12
3,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1,345.5,233.5,64.0,0.0,2,217,2012,01
4,0,Worked at Company - 234,2011_12,Senior,1,270.0,249.0,88.0,213.0,2,231,2011,12

In [58]:
train_final['job_count'] = train_final['Job_History'].str.split(',').str.len()

test_final['job_count'] = test_final['Job_History'].str.split(',').str.len()

In [59]:
#drop

train_final.drop(columns=['Joining_Date'], axis=1, inplace=True)


test_final.drop(columns=['Joining_Date'], axis=1, inplace=True)

In [60]:
train_final.head()

,Left_Company,Job_History,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,joining_year,joining_month,job_count
0,0,"Worked at Company - 639 , Company - 212 , Comp...",MD,1,205.0,189.0,72.0,189.0,3,231,2011,01,3
1,1,"Worked at Company - 816 , Company - 724 , Comp...",VP,0,241.0,233.0,120.0,186.0,2,147,2006,02,4
2,0,"Worked at Company - 562 , Company - 319",Senior,1,278.0,264.0,40.0,264.0,3,308,2011,12,2
3,0,"Worked at Company - 212 , Company - 668 , Comp...",Senior,1,345.5,233.5,64.0,0.0,2,217,2012,01,3
4,0,Worked at Company - 234,Senior,1,270.0,249.0,88.0,213.0,2,231,2011,12,1

In [61]:
train_final.dtypes #check

Left_Company           int64
Job_History           object
Designation           object
Sex                    int64
TotalWorkingHours    float64
Billable_Hours       float64
Hours_off_Duty       float64
Touring_Hours        float64
NoOfProjects           int64
ActualTimeSpent        int64
joining_year          object
joining_month         object
job_count              int64
dtype: object

In [62]:
test_final.dtypes #check

Job_History           object
Designation           object
Sex                    int64
TotalWorkingHours    float64
Billable_Hours       float64
Hours_off_Duty       float64
Touring_Hours        float64
NoOfProjects           int64
ActualTimeSpent        int64
joining_year          object
joining_month         object
job_count              int64
dtype: object

In [63]:

train_copy = train_final.copy()
test_copy = test_final.copy()

In [64]:


for col in ['TotalWorkingHours','Billable_Hours','Hours_off_Duty','Touring_Hours']:
  train_final[col] = train_final[col].astype('float')

In [65]:

for col in ['TotalWorkingHours','Billable_Hours','Hours_off_Duty','Touring_Hours']:
  test_final[col] = test_final[col].astype('float')

### Converting objects to categories

In [66]:


for col in ['Sex','Designation','NoOfProjects','joining_year','joining_month','Job_History']:
  train_final[col] = train_final[col].astype('category')
#on testing data 

for col in ['Sex','Designation','NoOfProjects','joining_year','joining_month','Job_History']:
  test_final[col] = test_final[col].astype('category')

train_final['Left_Company'] = train_final['Left_Company'].astype('category')

In [67]:


cat_attr = list(train_final.select_dtypes("category").columns) #exclude target column inthe list
num_attr = list(test_final.columns.difference(cat_attr))

# cat_attr.pop()

In [68]:
cat_attr.remove('Left_Company')

In [69]:
cat_attr

['Job_History',
 'Designation',
 'Sex',
 'NoOfProjects',
 'joining_year',
 'joining_month']

In [70]:
num_attr

['ActualTimeSpent',
 'Billable_Hours',
 'Hours_off_Duty',
 'TotalWorkingHours',
 'Touring_Hours',
 'job_count']

### Columns with missing values

In [71]:

missing_cols_train = train_final.columns[train_final.isnull().any()]
print(missing_cols_train)

missing_cols_test = test_final.columns[test_final.isnull().any()]
print(missing_cols_test)

Index([], dtype='object')
Index([], dtype='object')

In [72]:
pip install optuna

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: optuna in /home/u191324/.local/lib/python3.9/site-packages (3.1.1)
Requirement already satisfied: colorlog in /home/u191324/.local/lib/python3.9/site-packages (from optuna) (6.7.0)
Requirement already satisfied: sqlalchemy>=1.3.0 in /home/u191324/.local/lib/python3.9/site-packages (from optuna) (2.0.10)
Requirement already satisfied: packaging>=20.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from optuna) (21.3)
Requirement already satisfied: numpy in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from optuna) (1.22.3)
Requirement already satisfied: PyYAML in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from optuna) (6.0)
Requirement already satisfied: cmaes>=0.9.1 in /home/u191324/.local/lib/python3.9/site-packages (from optuna) (0.9.1)
Requirement already satisfied: alembic>=1.5.0 in /home/u191324/.local/lib/python3.9/site-packages (from optuna) (1.10.4)
Requirement already satisfied: tqdm in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from optuna) (4.64.0)
Requirement already satisfied: typing-extensions>=4 in /home/u191324/.local/lib/python3.9/site-packages (from alembic>=1.5.0->optuna) (4.5.0)
Requirement already satisfied: Mako in /home/u191324/.local/lib/python3.9/site-packages (from alembic>=1.5.0->optuna) (1.2.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from packaging>=20.0->optuna) (3.0.9)
Requirement already satisfied: greenlet!=0.4.17 in /home/u191324/.local/lib/python3.9/site-packages (from sqlalchemy>=1.3.0->optuna) (2.0.2)
Requirement already satisfied: MarkupSafe>=0.9.2 in /home/u191324/.local/lib/python3.9/site-packages (from Mako->alembic>=1.5.0->optuna) (2.1.2)
Note: you may need to restart the kernel to use updated packages.

In [73]:
from sklearnex import patch_sklearn
patch_sklearn()
from IPython.display import HTML
from timeit import default_timer as timer
from sklearnex import patch_sklearn
# The names match scikit-learn estimators
patch_sklearn("SVC")
from sklearnex import patch_sklearn
# The names match scikit-learn estimators
patch_sklearn(["SVC", "DBSCAN","Kmeans"])
from sklearn.ensemble import StackingRegressor
import optuna 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [74]:
def objective(trial):
    params ={
        'C': trial.suggest_float('C', 0.000000001, 1.0),
        'random_state': 0,
        'n_jobs': -1,
    }
    model = LogisticRegression(**params).fit(x_train, y_train)
    y_pred = model.predict_proba(x_val)[:, 1]
    fpr, tpr, _ = roc_curve(y_val, y_pred)
    score = auc(fpr, tpr)
    return score

In [75]:
study = optuna.create_study(sampler=optuna.samplers.TPESampler(seed=123),
                            direction="maximize",
                            pruner=optuna.pruners.HyperbandPruner())

[I 2023-04-26 08:58:06,989] A new study created in memory with name: no-name-13cbb56b-0f01-4c11-a983-adb7dfc21194

## Dummification

In [76]:
y= train_final['Left_Company']

del train_final['Left_Company']
X = train_final

In [77]:

#One hot encoding  train

dummy_train = pd.get_dummies(data= X, columns= cat_attr, drop_first=True)

In [78]:
dummy_train.shape

(245, 283)

In [79]:
#One hot encoding in test

test_final = pd.get_dummies(data= test_final, columns= cat_attr, drop_first=True)

In [80]:
print(test_final.shape)

(51, 86)

In [81]:
# Aligninng 

dummy_train, test_final = dummy_train.align(test_final, join='left', axis=1)

In [82]:
#checking for missing valurd;
print(test_final.isnull().sum().sum())

test_final.fillna(value=0, inplace=True)

12597

In [83]:
#standardize 

std = StandardScaler() #Instantiating an object. 
std.fit(dummy_train) #Fittin gon th train data

std_x = std.transform(dummy_train) 
std_test = std.transform(test_final)

In [84]:
print(std_x.shape)
print(std_test.shape)

(245, 283)
(51, 283)

In [85]:
#### now predicting the model ny logisticc regression , desion treee  on 6 - yet to complete level 1

# Models On complete std data without splitting :

In [86]:
log_reg = LogisticRegression()

log_reg.fit(std_x, y)

LogisticRegression()

In [87]:
log_pred = log_reg.predict(std_x)

print(f1_score(y, log_pred))

1.0

##  Model-2  Decision tree :

In [88]:
%%time
clf_dt =  DecisionTreeClassifier()

dt_param_grid = {'criterion': ['entropy', 'gini'], 
                 'max_depth': [3,4,5],
                 "min_samples_split": [2,5],
                 "min_samples_leaf": [1,3,5]}

dt_grid = GridSearchCV(clf_dt, param_grid=dt_param_grid, n_jobs=-1, cv=10,return_train_score=True)

dt_grid.fit(std_x,y)

print(dt_grid.best_params_)

dt_pred = dt_grid.predict(std_x)

print(f1_score(y, dt_pred))

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

{'criterion': 'entropy', 'max_depth': 3, 'min_samples_leaf': 1, 'min_samples_split': 2}
0.851063829787234
CPU times: user 333 ms, sys: 163 ms, total: 496 ms
Wall time: 2.47 s

## Model-3 --Build Gradient Boosting

In [89]:

%%time
clf_gbc = GradientBoostingClassifier()

gbm_param_grid = {'max_depth': [2,3,4],
                  'subsample': [0.8,0.6],
                  'max_features':[0.3], 
                  'n_estimators': [10, 20, 30],
                  'learning_rate':[0.1]}

gbm_grid = GridSearchCV(clf_gbc, param_grid=gbm_param_grid, n_jobs =-1, cv=5)

gbm_grid.fit(std_x,y)

print("The Best parameters are: {} .".format(gbm_grid.best_params_))

train_pred_gb = gbm_grid.predict(std_x)

print(f1_score(y, train_pred_gb))

The Best parameters are: {'learning_rate': 0.1, 'max_depth': 2, 'max_features': 0.3, 'n_estimators': 30, 'subsample': 0.8} .
0.851063829787234
CPU times: user 146 ms, sys: 20.3 ms, total: 166 ms
Wall time: 308 ms

In [90]:
# Building model after outholding the dataset.

In [91]:
x_train, x_test, y_train, y_test = train_test_split(std_x, y, test_size=0.3, random_state=11, stratify=y)

In [92]:
sm = SMOTE(random_state=2)

x_train_re, y_train_re = sm.fit_resample(x_train, y_train.ravel())
x_test_re, y_test_re = sm.fit_resample(x_test,y_test.ravel())

## Model-1 Gradient Boosting :

In [93]:

%%time
clf_gbc = GradientBoostingClassifier()

gbm_param_grid = {'max_depth': [2,3,4],
                  'subsample': [0.8,0.6],
                  'max_features':[0.3, 0.4], 
                  'n_estimators': [1,2,3,4,5,6,7,8,9,10],
                  'learning_rate':[0.1, 0.01, 0.001]} #making learning rate lesser gave the best results

gbm_grid_1 = GridSearchCV(clf_gbc, param_grid=gbm_param_grid, n_jobs =-1, cv=5)

gbm_grid_1.fit(x_train_re,y_train_re)

print("The Best parameters are: {} .".format(gbm_grid_1.best_params_))

train_pred_gb_2 = gbm_grid_1.predict(x_train_re)
test_pred_gb_2 = gbm_grid_1.predict(x_test_re)
print(f1_score(y_train_re, train_pred_gb_2)*100)
print(f1_score(y_test_re, test_pred_gb_2)*100)

The Best parameters are: {'learning_rate': 0.1, 'max_depth': 4, 'max_features': 0.3, 'n_estimators': 6, 'subsample': 0.8} .
99.00332225913621
95.23809523809523
CPU times: user 863 ms, sys: 89.2 ms, total: 952 ms
Wall time: 1.55 s

In [94]:
x_train, x_test, y_train, y_test = train_test_split(std_x, y, test_size=0.3, random_state=11, stratify=y)

## Model-2  Logit Model :

In [95]:
log_reg_2 = LogisticRegression()

log_reg_2.fit(x_train_re,y_train_re)

log_reg_pred_train = log_reg_2.predict(x_train_re)
log_reg_pred_test = log_reg_2.predict(x_test_re)

print(f1_score(y_train_re, log_reg_pred_train))
print(f1_score(y_test_re, log_reg_pred_test))

#prediction on test data

1.0
0.0

## Model-3 xgBoost :

In [96]:

%%time
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
xgb = xgb.XGBClassifier()


kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=143)

param_grid = {"n_estimators" : [10,15],
              "max_depth" : [3,5,6,7],
              "colsample_bytree":[0.7,.8],
              "learning_rate": [0.001,0.01,0.1],
              "subsample":[0.8,0.6]}

xg_grid = GridSearchCV(xgb, param_grid=param_grid, n_jobs=-1, cv=kfold)


xg_grid.fit(x_train_re,y_train_re)

print(xg_grid.best_params_)

train_pred = xg_grid.predict(x_train_re)
test_pred = xg_grid.predict(x_test_re)

print("Train Score: {}." .format(f1_score(y_train_re, train_pred)))
print("Validation Score: {}." .format(f1_score(y_test_re, test_pred)))

/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
/opt/intel/inteloneapi/intelpython/latest/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

{'colsample_bytree': 0.8, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 15, 'subsample': 0.8}
Train Score: 0.9933774834437086.
Validation Score: 0.9606299212598425.
CPU times: user 1.99 s, sys: 300 ms, total: 2.29 s
Wall time: 25.2 s

## Model- 4 RF

In [97]:
%%time
clf_rf = RandomForestClassifier()

kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=143)

param_grid = {"n_estimators" : [3,4,5,10,12,13,14],
              "max_depth" : [2,3,5,6],
              "max_features" : [3,4, 5, 7],
              "min_samples_leaf" : [4, 6, 8, 10]}

rf_grid = GridSearchCV(clf_rf, param_grid=dt_param_grid, cv=kfold)


rf_grid.fit(x_train_re,y_train_re)

print(rf_grid.best_params_)

train_pred_rf = rf_grid.predict(x_train_re)
test_pred_rf = rf_grid.predict(x_test_re)

print("Train Score: {} ." .format(f1_score(y_train_re, train_pred_rf)))
print("Validation Score: {} ." .format(f1_score(y_test_re, test_pred_rf)))

{'criterion': 'entropy', 'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 2}
Train Score: 0.9966996699669968 .
Validation Score: 0.9523809523809523 .
CPU times: user 30.8 s, sys: 260 ms, total: 31.1 s
Wall time: 25.2 s

In [98]:
from sklearn.neighbors import KNeighborsClassifier

In [99]:
knn = KNeighborsClassifier()

param_grid_knn = {'n_neighbors':[4,5,6]}

knn_grid = GridSearchCV(knn, param_grid=param_grid_knn, cv=5)


knn_grid.fit(x_train_re,y_train_re)

print(knn_grid.best_params_)

train_pred_rf = knn_grid.predict(x_train_re)
test_pred_rf = knn_grid.predict(x_test_re)

print("Train Score: {} ." .format(f1_score(y_train_re, train_pred_rf)))
print("Validation Score: {} ." .format(f1_score(y_test_re, test_pred_rf)))

{'n_neighbors': 4}
Train Score: 0.9967213114754099 .
Validation Score: 0.6666666666666666 .

# Models using Label Encoding.

In [100]:
#convert floats into int

for col in ['TotalWorkingHours','Billable_Hours','Hours_off_Duty','Touring_Hours']:
  train_copy[col] = train_copy[col].astype('int')

In [101]:
#Do the same on the test data 
for col in ['TotalWorkingHours','Billable_Hours','Hours_off_Duty','Touring_Hours']:
  test_copy[col] = test_copy[col].astype('int')

In [102]:
#on training data

for col in ['Sex','Designation','NoOfProjects','joining_year','joining_month']:
  train_copy[col] = train_copy[col].astype('object')
#on testing data 

for col in ['Sex','Designation','NoOfProjects','joining_year','joining_month']:
  test_copy[col] = test_copy[col].astype('object')

train_copy['Left_Company'] = train_copy['Left_Company'].astype('category')

In [103]:
del train_copy['Left_Company']

### Encoding the data using Label encoder

In [104]:
#pass the label encoded data to the random forest Model

for x in train_copy.columns:
  if train_copy[x].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(train_copy[x].values))
        train_copy[x] = lbl.transform(list(train_copy[x].values))

In [105]:
train_copy.head()

,Job_History,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,joining_year,joining_month,job_count
0,156,2,1,205,189,72,189,3,231,8,0,3
1,217,4,0,241,233,120,186,2,147,3,1,4
2,129,3,1,278,264,40,264,3,308,8,11,2
3,28,3,1,345,233,64,0,2,217,9,0,3
4,34,3,1,270,249,88,213,2,231,8,11,1

In [106]:
x_train_l, x_test_l, y_train_l, y_test_l = train_test_split(train_copy, y, test_size= 0.3, random_state=12, stratify= y)

In [107]:
test_copy.head()

,Job_History,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,joining_year,joining_month,job_count
0,"Worked at Company - 510 , Company - 658 , Comp...",Senior,0,278,263,90,2,2,203,2012,01,4
1,"Worked at Company - 42 , Company - 432 , Compa...",VP,1,273,256,72,176,3,182,2012,02,3
2,"Worked at Company - 99 , Company - 88 , Compan...",EVP,1,275,179,48,176,3,154,2012,02,3
3,"Worked at Company - 554 , Company - 304",EVP,1,238,215,40,160,3,238,2012,04,2
4,"Worked at Company - 548 , Company - 405",VP,1,293,228,88,228,4,315,2006,09,2

### The training data is insufficient & it is underfitting when building the models. 


### The target labelled data is class imbalanced & should perform SMOTE method to over sample the data, It may be helpful in building the model without underfitting.

### Feature Engineering can be done by using the Job_History column by counting the no of companies he worked earlier & make better predictions.

In [108]:
pip install tensorflow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tensorflow in /home/u191324/.local/lib/python3.9/site-packages (2.12.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (4.22.3)
Requirement already satisfied: flatbuffers>=2.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (23.3.3)
Requirement already satisfied: six>=1.12.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: setuptools in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from tensorflow) (63.4.1)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (2.12.2)
Requirement already satisfied: jax>=0.3.15 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (0.4.8)
Requirement already satisfied: numpy<1.24,>=1.22 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from tensorflow) (1.22.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (1.54.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (0.32.0)
Requirement already satisfied: absl-py>=1.0.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (1.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (4.5.0)
Requirement already satisfied: libclang>=13.0.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (16.0.0)
Requirement already satisfied: packaging in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from tensorflow) (21.3)
Requirement already satisfied: keras<2.13,>=2.12.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (2.12.0)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (2.12.0)
Requirement already satisfied: astunparse>=1.6.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: termcolor>=1.1.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (2.3.0)
Requirement already satisfied: h5py>=2.9.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (3.8.0)
Requirement already satisfied: google-pasta>=0.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: ml-dtypes>=0.0.3 in /home/u191324/.local/lib/python3.9/site-packages (from jax>=0.3.15->tensorflow) (0.1.0)
Requirement already satisfied: scipy>=1.7 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from jax>=0.3.15->tensorflow) (1.7.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /home/u191324/.local/lib/python3.9/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /home/u191324/.local/lib/python3.9/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: werkzeug>=1.0.1 in /home/u191324/.local/lib/python3.9/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.0)
Requirement already satisfied: requests<3,>=2.21.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.28.1)
Requirement already satisfied: markdown>=2.6.8 in /home/u191324/.local/lib/python3.9/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /home/u191324/.local/lib/python3.9/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from packaging->tensorflow) (3.0.9)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/u191324/.local/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/u191324/.local/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/u191324/.local/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/u191324/.local/lib/python3.9/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow) (6.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2022.9.24)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.2)
Requirement already satisfied: zipp>=0.5 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.13,>=2.12->tensorflow) (3.12.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /home/u191324/.local/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /home/u191324/.local/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

# Deep Learning Techniques :

In [109]:
#importing packages 
from sklearnex import patch_sklearn
patch_sklearn()
import tensorflow as tf 
import keras
from keras import Sequential
from keras.layers import Dense, BatchNormalization, Dropout
from keras.layers import Activation

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
2023-04-26 08:59:08.845946: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-26 08:59:10.639327: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-26 08:59:10.652815: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-26 08:59:22.372974: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [110]:
# chceking the splitted data 
print(x_train_re.shape)
print(x_test_re.shape)
print(y_train_re.shape)
print(y_test_re.shape)

(304, 283)
(132, 283)
(304,)
(132,)

In [111]:
#chcecking the label encoded  data 

print(x_train_l.shape)
print(x_test_l.shape)
print(y_train_l.shape) 
print(y_test_l.shape)

(171, 12)
(74, 12)
(171,)
(74,)

In [112]:
x_train_l.dtypes

Job_History          int64
Designation          int64
Sex                  int64
TotalWorkingHours    int64
Billable_Hours       int64
Hours_off_Duty       int64
Touring_Hours        int64
NoOfProjects         int64
ActualTimeSpent      int64
joining_year         int64
joining_month        int64
job_count            int64
dtype: object

In [113]:
model = Sequential()

#layer-1
model.add(Dense(6,kernel_initializer='glorot_uniform', input_dim=283))
model.add(BatchNormalization())
model.add(Activation('relu'))

#layer -2 

model.add(Dense(6, kernel_initializer='glorot_uniform', activation='relu'))
model.add(BatchNormalization())

#layer-3 -Output layer 

model.add(Dense(1, activation='softmax', kernel_initializer='glorot_normal'))

#compiling the model 

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [114]:

from sklearnex import patch_sklearn

patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [115]:
pip install scikit-learn-intelex

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn-intelex in /home/u191324/.local/lib/python3.9/site-packages (2023.1.1)
Requirement already satisfied: scikit-learn>=0.22 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from scikit-learn-intelex) (1.1.1)
Requirement already satisfied: daal4py==2023.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from scikit-learn-intelex) (2023.1.1)
Requirement already satisfied: numpy>=1.19 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from daal4py==2023.1.1->scikit-learn-intelex) (1.22.3)
Requirement already satisfied: daal==2023.1.1 in /home/u191324/.local/lib/python3.9/site-packages (from daal4py==2023.1.1->scikit-learn-intelex) (2023.1.1)
Requirement already satisfied: tbb==2021.* in /home/u191324/.local/lib/python3.9/site-packages (from daal==2023.1.1->daal4py==2023.1.1->scikit-learn-intelex) (2021.9.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (2.2.0)
Requirement already satisfied: joblib>=1.0.0 in /home/u191324/.local/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

In [116]:
model_1 = model.fit(std_x, y, epochs=100,batch_size=22, validation_split=0.1)

Epoch 1/100
10/10 [==============================] - 1s 23ms/step - loss: 1.0490 - accuracy: 0.1136 - val_loss: 0.8942 - val_accuracy: 0.0800
Epoch 2/100
10/10 [==============================] - 0s 3ms/step - loss: 0.9426 - accuracy: 0.1136 - val_loss: 0.9106 - val_accuracy: 0.0800
Epoch 3/100
10/10 [==============================] - 0s 5ms/step - loss: 0.8562 - accuracy: 0.1136 - val_loss: 0.9240 - val_accuracy: 0.0800
Epoch 4/100
10/10 [==============================] - 0s 6ms/step - loss: 0.7823 - accuracy: 0.1136 - val_loss: 0.9400 - val_accuracy: 0.0800
Epoch 5/100
10/10 [==============================] - 0s 6ms/step - loss: 0.7156 - accuracy: 0.1136 - val_loss: 0.9530 - val_accuracy: 0.0800
Epoch 6/100
10/10 [==============================] - 0s 6ms/step - loss: 0.6628 - accuracy: 0.1136 - val_loss: 0.9672 - val_accuracy: 0.0800
Epoch 7/100
10/10 [==============================] - 0s 6ms/step - loss: 0.6132 - accuracy: 0.1136 - val_loss: 0.9789 - val_accuracy: 0.0800
Epoch 8/100
10/10 [==============================] - 0s 6ms/step - loss: 0.5725 - accuracy: 0.1136 - val_loss: 0.9917 - val_accuracy: 0.0800
Epoch 9/100
10/10 [==============================] - 0s 6ms/step - loss: 0.5341 - accuracy: 0.1136 - val_loss: 1.0013 - val_accuracy: 0.0800
Epoch 10/100
10/10 [==============================] - 0s 6ms/step - loss: 0.5021 - accuracy: 0.1136 - val_loss: 1.0094 - val_accuracy: 0.0800
Epoch 11/100
10/10 [==============================] - 0s 4ms/step - loss: 0.4725 - accuracy: 0.1136 - val_loss: 1.0188 - val_accuracy: 0.0800
Epoch 12/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4468 - accuracy: 0.1136 - val_loss: 1.0282 - val_accuracy: 0.0800
Epoch 13/100
10/10 [==============================] - 0s 6ms/step - loss: 0.4241 - accuracy: 0.1136 - val_loss: 1.0371 - val_accuracy: 0.0800
Epoch 14/100
10/10 [==============================] - 0s 4ms/step - loss: 0.4025 - accuracy: 0.1136 - val_loss: 1.0435 - val_accuracy: 0.0800
Epoch 15/100
10/10 [==============================] - 0s 4ms/step - loss: 0.3827 - accuracy: 0.1136 - val_loss: 1.0496 - val_accuracy: 0.0800
Epoch 16/100
10/10 [==============================] - 0s 3ms/step - loss: 0.3652 - accuracy: 0.1136 - val_loss: 1.0529 - val_accuracy: 0.0800
Epoch 17/100
10/10 [==============================] - 0s 5ms/step - loss: 0.3486 - accuracy: 0.1136 - val_loss: 1.0543 - val_accuracy: 0.0800
Epoch 18/100
10/10 [==============================] - 0s 5ms/step - loss: 0.3338 - accuracy: 0.1136 - val_loss: 1.0573 - val_accuracy: 0.0800
Epoch 19/100
10/10 [==============================] - 0s 4ms/step - loss: 0.3198 - accuracy: 0.1136 - val_loss: 1.0600 - val_accuracy: 0.0800
Epoch 20/100
10/10 [==============================] - 0s 3ms/step - loss: 0.3069 - accuracy: 0.1136 - val_loss: 1.0620 - val_accuracy: 0.0800
Epoch 21/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2948 - accuracy: 0.1136 - val_loss: 1.0638 - val_accuracy: 0.0800
Epoch 22/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2838 - accuracy: 0.1136 - val_loss: 1.0639 - val_accuracy: 0.0800
Epoch 23/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2734 - accuracy: 0.1136 - val_loss: 1.0646 - val_accuracy: 0.0800
Epoch 24/100
10/10 [==============================] - 0s 4ms/step - loss: 0.2635 - accuracy: 0.1136 - val_loss: 1.0645 - val_accuracy: 0.0800
Epoch 25/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2549 - accuracy: 0.1136 - val_loss: 1.0635 - val_accuracy: 0.0800
Epoch 26/100
10/10 [==============================] - 0s 6ms/step - loss: 0.2462 - accuracy: 0.1136 - val_loss: 1.0621 - val_accuracy: 0.0800
Epoch 27/100
10/10 [==============================] - 0s 6ms/step - loss: 0.2384 - accuracy: 0.1136 - val_loss: 1.0618 - val_accuracy: 0.0800
Epoch 28/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2309 - accuracy: 0.1136 - val_loss: 1.0608 - val_accuracy: 0.0800
Epoch 29/100
10/10 [==============================] - 0s 4ms/step - loss: 0.2240 - accuracy: 0.1136 - val_loss: 1.0605 - val_accuracy: 0.0800
Epoch 30/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2177 - accuracy: 0.1136 - val_loss: 1.0598 - val_accuracy: 0.0800
Epoch 31/100
10/10 [==============================] - 0s 6ms/step - loss: 0.2118 - accuracy: 0.1136 - val_loss: 1.0593 - val_accuracy: 0.0800
Epoch 32/100
10/10 [==============================] - 0s 4ms/step - loss: 0.2063 - accuracy: 0.1136 - val_loss: 1.0585 - val_accuracy: 0.0800
Epoch 33/100
10/10 [==============================] - 0s 4ms/step - loss: 0.2012 - accuracy: 0.1136 - val_loss: 1.0580 - val_accuracy: 0.0800
Epoch 34/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1965 - accuracy: 0.1136 - val_loss: 1.0584 - val_accuracy: 0.0800
Epoch 35/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1922 - accuracy: 0.1136 - val_loss: 1.0573 - val_accuracy: 0.0800
Epoch 36/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1882 - accuracy: 0.1136 - val_loss: 1.0561 - val_accuracy: 0.0800
Epoch 37/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1844 - accuracy: 0.1136 - val_loss: 1.0561 - val_accuracy: 0.0800
Epoch 38/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1809 - accuracy: 0.1136 - val_loss: 1.0545 - val_accuracy: 0.0800
Epoch 39/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1776 - accuracy: 0.1136 - val_loss: 1.0531 - val_accuracy: 0.0800
Epoch 40/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1745 - accuracy: 0.1136 - val_loss: 1.0517 - val_accuracy: 0.0800
Epoch 41/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1715 - accuracy: 0.1136 - val_loss: 1.0513 - val_accuracy: 0.0800
Epoch 42/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1688 - accuracy: 0.1136 - val_loss: 1.0495 - val_accuracy: 0.0800
Epoch 43/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1662 - accuracy: 0.1136 - val_loss: 1.0481 - val_accuracy: 0.0800
Epoch 44/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1636 - accuracy: 0.1136 - val_loss: 1.0472 - val_accuracy: 0.0800
Epoch 45/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1613 - accuracy: 0.1136 - val_loss: 1.0462 - val_accuracy: 0.0800
Epoch 46/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1592 - accuracy: 0.1136 - val_loss: 1.0446 - val_accuracy: 0.0800
Epoch 47/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1570 - accuracy: 0.1136 - val_loss: 1.0440 - val_accuracy: 0.0800
Epoch 48/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1551 - accuracy: 0.1136 - val_loss: 1.0426 - val_accuracy: 0.0800
Epoch 49/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1531 - accuracy: 0.1136 - val_loss: 1.0415 - val_accuracy: 0.0800
Epoch 50/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1513 - accuracy: 0.1136 - val_loss: 1.0399 - val_accuracy: 0.0800
Epoch 51/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1496 - accuracy: 0.1136 - val_loss: 1.0390 - val_accuracy: 0.0800
Epoch 52/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1479 - accuracy: 0.1136 - val_loss: 1.0374 - val_accuracy: 0.0800
Epoch 53/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1464 - accuracy: 0.1136 - val_loss: 1.0351 - val_accuracy: 0.0800
Epoch 54/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1448 - accuracy: 0.1136 - val_loss: 1.0327 - val_accuracy: 0.0800
Epoch 55/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1434 - accuracy: 0.1136 - val_loss: 1.0316 - val_accuracy: 0.0800
Epoch 56/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1420 - accuracy: 0.1136 - val_loss: 1.0300 - val_accuracy: 0.0800
Epoch 57/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1406 - accuracy: 0.1136 - val_loss: 1.0287 - val_accuracy: 0.0800
Epoch 58/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1393 - accuracy: 0.1136 - val_loss: 1.0266 - val_accuracy: 0.0800
Epoch 59/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1380 - accuracy: 0.1136 - val_loss: 1.0250 - val_accuracy: 0.0800
Epoch 60/100
10/10 [==============================] - 0s 3ms/step - loss: 0.1368 - accuracy: 0.1136 - val_loss: 1.0234 - val_accuracy: 0.0800
Epoch 61/100
10/10 [==============================] - 0s 3ms/step - loss: 0.1356 - accuracy: 0.1136 - val_loss: 1.0211 - val_accuracy: 0.0800
Epoch 62/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1345 - accuracy: 0.1136 - val_loss: 1.0189 - val_accuracy: 0.0800
Epoch 63/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1334 - accuracy: 0.1136 - val_loss: 1.0170 - val_accuracy: 0.0800
Epoch 64/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1323 - accuracy: 0.1136 - val_loss: 1.0151 - val_accuracy: 0.0800
Epoch 65/100
10/10 [==============================] - 0s 3ms/step - loss: 0.1313 - accuracy: 0.1136 - val_loss: 1.0138 - val_accuracy: 0.0800
Epoch 66/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1303 - accuracy: 0.1136 - val_loss: 1.0118 - val_accuracy: 0.0800
Epoch 67/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1293 - accuracy: 0.1136 - val_loss: 1.0097 - val_accuracy: 0.0800
Epoch 68/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1283 - accuracy: 0.1136 - val_loss: 1.0076 - val_accuracy: 0.0800
Epoch 69/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1274 - accuracy: 0.1136 - val_loss: 1.0061 - val_accuracy: 0.0800
Epoch 70/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1265 - accuracy: 0.1136 - val_loss: 1.0040 - val_accuracy: 0.0800
Epoch 71/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1256 - accuracy: 0.1136 - val_loss: 1.0019 - val_accuracy: 0.0800
Epoch 72/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1247 - accuracy: 0.1136 - val_loss: 0.9999 - val_accuracy: 0.0800
Epoch 73/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1239 - accuracy: 0.1136 - val_loss: 0.9979 - val_accuracy: 0.0800
Epoch 74/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1230 - accuracy: 0.1136 - val_loss: 0.9960 - val_accuracy: 0.0800
Epoch 75/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1222 - accuracy: 0.1136 - val_loss: 0.9941 - val_accuracy: 0.0800
Epoch 76/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1214 - accuracy: 0.1136 - val_loss: 0.9921 - val_accuracy: 0.0800
Epoch 77/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1207 - accuracy: 0.1136 - val_loss: 0.9901 - val_accuracy: 0.0800
Epoch 78/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1199 - accuracy: 0.1136 - val_loss: 0.9879 - val_accuracy: 0.0800
Epoch 79/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1191 - accuracy: 0.1136 - val_loss: 0.9863 - val_accuracy: 0.0800
Epoch 80/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1184 - accuracy: 0.1136 - val_loss: 0.9846 - val_accuracy: 0.0800
Epoch 81/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1177 - accuracy: 0.1136 - val_loss: 0.9825 - val_accuracy: 0.0800
Epoch 82/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1170 - accuracy: 0.1136 - val_loss: 0.9800 - val_accuracy: 0.0800
Epoch 83/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1163 - accuracy: 0.1136 - val_loss: 0.9782 - val_accuracy: 0.0800
Epoch 84/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1156 - accuracy: 0.1136 - val_loss: 0.9763 - val_accuracy: 0.0800
Epoch 85/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1149 - accuracy: 0.1136 - val_loss: 0.9743 - val_accuracy: 0.0800
Epoch 86/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1142 - accuracy: 0.1136 - val_loss: 0.9724 - val_accuracy: 0.0800
Epoch 87/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1135 - accuracy: 0.1136 - val_loss: 0.9711 - val_accuracy: 0.0800
Epoch 88/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1129 - accuracy: 0.1136 - val_loss: 0.9692 - val_accuracy: 0.0800
Epoch 89/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1123 - accuracy: 0.1136 - val_loss: 0.9670 - val_accuracy: 0.0800
Epoch 90/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1116 - accuracy: 0.1136 - val_loss: 0.9650 - val_accuracy: 0.0800
Epoch 91/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1110 - accuracy: 0.1136 - val_loss: 0.9621 - val_accuracy: 0.0800
Epoch 92/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1104 - accuracy: 0.1136 - val_loss: 0.9594 - val_accuracy: 0.0800
Epoch 93/100
10/10 [==============================] - 0s 3ms/step - loss: 0.1097 - accuracy: 0.1136 - val_loss: 0.9570 - val_accuracy: 0.0800
Epoch 94/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1092 - accuracy: 0.1136 - val_loss: 0.9544 - val_accuracy: 0.0800
Epoch 95/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1086 - accuracy: 0.1136 - val_loss: 0.9523 - val_accuracy: 0.0800
Epoch 96/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1080 - accuracy: 0.1136 - val_loss: 0.9502 - val_accuracy: 0.0800
Epoch 97/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1074 - accuracy: 0.1136 - val_loss: 0.9479 - val_accuracy: 0.0800
Epoch 98/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1068 - accuracy: 0.1136 - val_loss: 0.9459 - val_accuracy: 0.0800
Epoch 99/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1063 - accuracy: 0.1136 - val_loss: 0.9438 - val_accuracy: 0.0800
Epoch 100/100
10/10 [==============================] - 0s 4ms/step - loss: 0.1057 - accuracy: 0.1136 - val_loss: 0.9413 - val_accuracy: 0.0800

In [117]:
model.fit(std_x, y, validation_split=0.1, epochs=32, batch_size=28)

Epoch 1/32
8/8 [==============================] - 0s 10ms/step - loss: 0.1052 - accuracy: 0.1136 - val_loss: 0.9392 - val_accuracy: 0.0800
Epoch 2/32
8/8 [==============================] - 0s 7ms/step - loss: 0.1047 - accuracy: 0.1136 - val_loss: 0.9371 - val_accuracy: 0.0800
Epoch 3/32
8/8 [==============================] - 0s 4ms/step - loss: 0.1043 - accuracy: 0.1136 - val_loss: 0.9352 - val_accuracy: 0.0800
Epoch 4/32
8/8 [==============================] - 0s 7ms/step - loss: 0.1038 - accuracy: 0.1136 - val_loss: 0.9335 - val_accuracy: 0.0800
Epoch 5/32
8/8 [==============================] - 0s 6ms/step - loss: 0.1034 - accuracy: 0.1136 - val_loss: 0.9320 - val_accuracy: 0.0800
Epoch 6/32
8/8 [==============================] - 0s 5ms/step - loss: 0.1030 - accuracy: 0.1136 - val_loss: 0.9304 - val_accuracy: 0.0800
Epoch 7/32
8/8 [==============================] - 0s 7ms/step - loss: 0.1026 - accuracy: 0.1136 - val_loss: 0.9286 - val_accuracy: 0.0800
Epoch 8/32
8/8 [==============================] - 0s 7ms/step - loss: 0.1021 - accuracy: 0.1136 - val_loss: 0.9267 - val_accuracy: 0.0800
Epoch 9/32
8/8 [==============================] - 0s 6ms/step - loss: 0.1017 - accuracy: 0.1136 - val_loss: 0.9248 - val_accuracy: 0.0800
Epoch 10/32
8/8 [==============================] - 0s 4ms/step - loss: 0.1013 - accuracy: 0.1136 - val_loss: 0.9229 - val_accuracy: 0.0800
Epoch 11/32
8/8 [==============================] - 0s 4ms/step - loss: 0.1009 - accuracy: 0.1136 - val_loss: 0.9209 - val_accuracy: 0.0800
Epoch 12/32
8/8 [==============================] - 0s 7ms/step - loss: 0.1004 - accuracy: 0.1136 - val_loss: 0.9192 - val_accuracy: 0.0800
Epoch 13/32
8/8 [==============================] - 0s 4ms/step - loss: 0.1000 - accuracy: 0.1136 - val_loss: 0.9177 - val_accuracy: 0.0800
Epoch 14/32
8/8 [==============================] - 0s 6ms/step - loss: 0.0996 - accuracy: 0.1136 - val_loss: 0.9161 - val_accuracy: 0.0800
Epoch 15/32
8/8 [==============================] - 0s 6ms/step - loss: 0.0992 - accuracy: 0.1136 - val_loss: 0.9141 - val_accuracy: 0.0800
Epoch 16/32
8/8 [==============================] - 0s 6ms/step - loss: 0.0988 - accuracy: 0.1136 - val_loss: 0.9123 - val_accuracy: 0.0800
Epoch 17/32
8/8 [==============================] - 0s 4ms/step - loss: 0.0984 - accuracy: 0.1136 - val_loss: 0.9105 - val_accuracy: 0.0800
Epoch 18/32
8/8 [==============================] - 0s 6ms/step - loss: 0.0980 - accuracy: 0.1136 - val_loss: 0.9091 - val_accuracy: 0.0800
Epoch 19/32
8/8 [==============================] - 0s 7ms/step - loss: 0.0976 - accuracy: 0.1136 - val_loss: 0.9073 - val_accuracy: 0.0800
Epoch 20/32
8/8 [==============================] - 0s 8ms/step - loss: 0.0972 - accuracy: 0.1136 - val_loss: 0.9054 - val_accuracy: 0.0800
Epoch 21/32
8/8 [==============================] - 0s 5ms/step - loss: 0.0968 - accuracy: 0.1136 - val_loss: 0.9035 - val_accuracy: 0.0800
Epoch 22/32
8/8 [==============================] - 0s 6ms/step - loss: 0.0964 - accuracy: 0.1136 - val_loss: 0.9015 - val_accuracy: 0.0800
Epoch 23/32
8/8 [==============================] - 0s 4ms/step - loss: 0.0960 - accuracy: 0.1136 - val_loss: 0.8996 - val_accuracy: 0.0800
Epoch 24/32
8/8 [==============================] - 0s 7ms/step - loss: 0.0957 - accuracy: 0.1136 - val_loss: 0.8983 - val_accuracy: 0.0800
Epoch 25/32
8/8 [==============================] - 0s 5ms/step - loss: 0.0953 - accuracy: 0.1136 - val_loss: 0.8973 - val_accuracy: 0.0800
Epoch 26/32
8/8 [==============================] - 0s 4ms/step - loss: 0.0949 - accuracy: 0.1136 - val_loss: 0.8963 - val_accuracy: 0.0800
Epoch 27/32
8/8 [==============================] - 0s 6ms/step - loss: 0.0945 - accuracy: 0.1136 - val_loss: 0.8949 - val_accuracy: 0.0800
Epoch 28/32
8/8 [==============================] - 0s 6ms/step - loss: 0.0941 - accuracy: 0.1136 - val_loss: 0.8931 - val_accuracy: 0.0800
Epoch 29/32
8/8 [==============================] - 0s 7ms/step - loss: 0.0938 - accuracy: 0.1136 - val_loss: 0.8911 - val_accuracy: 0.0800
Epoch 30/32
8/8 [==============================] - 0s 6ms/step - loss: 0.0934 - accuracy: 0.1136 - val_loss: 0.8891 - val_accuracy: 0.0800
Epoch 31/32
8/8 [==============================] - 0s 7ms/step - loss: 0.0930 - accuracy: 0.1136 - val_loss: 0.8870 - val_accuracy: 0.0800
Epoch 32/32
8/8 [==============================] - 0s 7ms/step - loss: 0.0926 - accuracy: 0.1136 - val_loss: 0.8851 - val_accuracy: 0.0800

In [118]:
model_1

## ----*** Tier 2 successfully completed***-----

In [119]:
a = model.save('model.h5')

In [120]:
# pip install torch

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: torch in /home/u191324/.local/lib/python3.9/site-packages (2.0.0)
Requirement already satisfied: nvidia-cuda-runtime-cu11==11.7.99 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (11.7.99)
Requirement already satisfied: nvidia-nvtx-cu11==11.7.91 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (11.7.91)
Requirement already satisfied: triton==2.0.0 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (2.0.0)
Requirement already satisfied: nvidia-cuda-nvrtc-cu11==11.7.99 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (11.7.99)
Requirement already satisfied: nvidia-cusparse-cu11==11.7.4.91 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (11.7.4.91)
Requirement already satisfied: nvidia-curand-cu11==10.2.10.91 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (10.2.10.91)
Requirement already satisfied: networkx in /home/u191324/.local/lib/python3.9/site-packages (from torch) (3.1)
Requirement already satisfied: typing-extensions in /home/u191324/.local/lib/python3.9/site-packages (from torch) (4.5.0)
Requirement already satisfied: nvidia-cublas-cu11==11.10.3.66 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (11.10.3.66)
Requirement already satisfied: nvidia-cuda-cupti-cu11==11.7.101 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (11.7.101)
Requirement already satisfied: nvidia-cusolver-cu11==11.4.0.1 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (11.4.0.1)
Requirement already satisfied: nvidia-nccl-cu11==2.14.3 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (2.14.3)
Requirement already satisfied: nvidia-cufft-cu11==10.9.0.58 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (10.9.0.58)
Requirement already satisfied: nvidia-cudnn-cu11==8.5.0.96 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (8.5.0.96)
Requirement already satisfied: jinja2 in /home/u191324/.local/lib/python3.9/site-packages (from torch) (3.1.2)
Requirement already satisfied: sympy in /home/u191324/.local/lib/python3.9/site-packages (from torch) (1.11.1)
Requirement already satisfied: filelock in /home/u191324/.local/lib/python3.9/site-packages (from torch) (3.12.0)
Requirement already satisfied: wheel in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch) (0.37.1)
Requirement already satisfied: setuptools in /glob/development-tools/versions/oneapi/2023.0.1/oneapi/intelpython/python3.9/lib/python3.9/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch) (63.4.1)
Requirement already satisfied: lit in /home/u191324/.local/lib/python3.9/site-packages (from triton==2.0.0->torch) (16.0.2)
Requirement already satisfied: cmake in /home/u191324/.local/lib/python3.9/site-packages (from triton==2.0.0->torch) (3.26.3)
Requirement already satisfied: MarkupSafe>=2.0 in /home/u191324/.local/lib/python3.9/site-packages (from jinja2->torch) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /home/u191324/.local/lib/python3.9/site-packages (from sympy->torch) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

## ***Tier 2 completed successfully***--------------------!