<a href="https://colab.research.google.com/github/Ahamedthaiyub/Workfoce360/blob/main/Tier(2)_attrition_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Importing and instaling requirements***

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pip install scikit-learn-intelex

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-learn-intelex
  Downloading scikit_learn_intelex-2023.1.1-py39-none-manylinux1_x86_64.whl (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.3/115.3 kB 2.0 MB/s eta 0:00:00
Collecting daal4py==2023.1.1
  Downloading daal4py-2023.1.1-py39-none-manylinux1_x86_64.whl (13.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.9/13.9 MB 52.9 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.9/dist-packages (from scikit-learn-intelex) (1.2.2)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.9/dist-packages (from daal4py==2023.1.1->scikit-learn-intelex) (1.22.4)
Collecting daal==2023.1.1
  Downloading daal-2023.1.1-py2.py3-none-manylinux1_x86_64.whl (69.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.2/69.2 MB 10.2 MB/s eta 0:00:00
Collecting tbb==2021.*
  Downloading tbb-2021.9.0-py2.py3-none-manylinux1_x86_64.whl (4.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.0/4.0 MB 49.0 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.22->scikit-learn-intelex) (3.1.0)
Installing collected packages: tbb, daal, daal4py, scikit-learn-intelex
Successfully installed daal-2023.1.1 daal4py-2023.1.1 scikit-learn-intelex-2023.1.1 tbb-2021.9.0

In [ ]:
pip install scikit-learn-intelex

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn-intelex in /usr/local/lib/python3.9/dist-packages (2023.1.1)
Requirement already satisfied: daal4py==2023.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn-intelex) (2023.1.1)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.9/dist-packages (from scikit-learn-intelex) (1.2.2)
Requirement already satisfied: daal==2023.1.1 in /usr/local/lib/python3.9/dist-packages (from daal4py==2023.1.1->scikit-learn-intelex) (2023.1.1)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.9/dist-packages (from daal4py==2023.1.1->scikit-learn-intelex) (1.22.4)
Requirement already satisfied: tbb==2021.* in /usr/local/lib/python3.9/dist-packages (from daal==2023.1.1->daal4py==2023.1.1->scikit-learn-intelex) (2021.9.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.22->scikit-learn-intelex) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.22->scikit-learn-intelex) (1.2.0)

In [ ]:
##importing libraries
import pandas as pd
import numpy as np

In [ ]:
from sklearnex import patch_sklearn
patch_sklearn()
import pandas as pd
import time

from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from matplotlib import pyplot as plt
import seaborn as sn
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn import neural_network 
from sklearn import tree
from sklearn.feature_extraction.text import TfidfVectorizer
from imblearn.over_sampling import SMOTE

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [ ]:
#importing Machine larning libraries
from sklearn import preprocessing
from sklearnex import patch_sklearn
patch_sklearn()

from sklearn.impute import SimpleImputer

from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score


import warnings
warnings.filterwarnings('ignore')

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

## **PROBLEM STATEMENT(tier 2)**
Employee attrition is a significant issue for companies, resulting in substantial costs for hiring, retraining, productivity, and work loss for each employee who leaves. To address this, a model needs to be built to predict whether an employee is likely to quit in the near future.

# Reading the data sets & knowing about each attribute.

In [ ]:
##reading train_data 
#Reading train_data 
train_attrition = pd.read_csv("/content/drive/My Drive/train_attrition.csv")
train_work = pd.read_csv("/content/drive/My Drive/train_work.csv")

In [ ]:
#Reading the employee_data
emp_data = pd.read_csv("/content/drive/My Drive/employee_data.csv")

In [ ]:
#Reading the test data 
test_attrition = pd.read_csv("/content/drive/My Drive/test_attrition.csv")
test_work = pd.read_csv("/content/drive/My Drive/test_work.csv")

##viewing train_work

In [ ]:
train_work.head()

,EmployeeID,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,184.0,144.0,40.0,144.0,3,77
1,emp-1,176.0,136.0,40.0,136.0,2,98
2,emp-1,200.0,120.0,72.0,120.0,1,14
3,emp-1,160.0,144.0,8.0,144.0,3,147
4,emp-1,171.0,135.0,0.0,135.0,1,42

## viewing of all datasets

In [ ]:
##viewing train attrition
train_attrition.head()

  EmployeeID  Left_Company
0      emp-1             0
1     emp-10             1
2    emp-100             0
3    emp-101             0
4    emp-102             0

In [ ]:
# viewing  emp_data
emp_data.head()

,EmployeeID,Job_History,Joining_Date,Designation,Sex
0,emp-10,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0
1,emp-108,"Worked at Company - 205 , Company - 373 , Comp...",2012_01,VP,1
2,emp-115,"Worked at Company - 690 , Company - 280 , Comp...",2012_02,Senior,1
3,emp-121,"Worked at Company - 684 , Company - 159 , Comp...",2012_03,VP,1
4,emp-138,"Worked at Company - 443 , Company - 121 , Comp...",2012_05,Senior,1

In [ ]:
##dimensions 

print("The train_attrition has {} rows & {} columns." .format(train_attrition.shape[0], train_attrition.shape[1]))
print("The train_work has {} rows & {} columns." .format(train_work.shape[0], train_work.shape[1]))

The train_attrition has 245 rows & 2 columns.
The train_work has 3983 rows & 7 columns.

In [ ]:
print("The employee data has {} rows & {} columns." .format(emp_data.shape[0], emp_data.shape[1]))

The employee data has 296 rows & 5 columns.

In [ ]:
train_work.head()

,EmployeeID,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,184.0,144.0,40.0,144.0,3,77
1,emp-1,176.0,136.0,40.0,136.0,2,98
2,emp-1,200.0,120.0,72.0,120.0,1,14
3,emp-1,160.0,144.0,8.0,144.0,3,147
4,emp-1,171.0,135.0,0.0,135.0,1,42

In [ ]:

train_attrition.head()

  EmployeeID  Left_Company
0      emp-1             0
1     emp-10             1
2    emp-100             0
3    emp-101             0
4    emp-102             0

In [ ]:
train_emp_data = pd.merge(train_attrition, emp_data, how='left', on='EmployeeID')

In [ ]:
train_emp_data.shape

(245, 6)

In [ ]:
train_emp_data.head()

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex
0,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1
1,emp-10,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0
2,emp-100,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1
3,emp-101,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1
4,emp-102,0,Worked at Company - 234,2011_12,Senior,1

In [ ]:
train_final = pd.merge(train_emp_data, train_work, on='EmployeeID', how='left')

In [ ]:
train_final.shape

(3983, 12)

In [ ]:


print("The train_attrition has {} rows & {} columns." .format(train_attrition.shape[0], train_attrition.shape[1]))
print("The train_work has {} rows & {} columns." .format(train_work.shape[0], train_work.shape[1]))

The train_attrition has 245 rows & 2 columns.
The train_work has 3983 rows & 7 columns.

In [ ]:

train = train_final.groupby('EmployeeID').agg('max')
train

,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
EmployeeID,,,,,,,,,,,
emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,205.0,189.0,72.0,189.0,3,231
emp-10,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0,241.0,233.0,120.0,186.0,2,147
emp-100,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1,278.0,264.0,40.0,264.0,3,308
emp-101,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1,345.5,233.5,64.0,0.0,2,217
emp-102,0,Worked at Company - 234,2011_12,Senior,1,270.0,249.0,88.0,213.0,2,231
...,...,...,...,...,...,...,...,...,...,...,...
emp-94,0,"Worked at Company - 71 , Company - 324 , Compa...",2011_09,Senior,0,246.0,198.0,80.0,198.0,2,105
emp-96,0,"Worked at Company - 27 , Company - 159",2011_10,Senior,1,254.5,246.5,88.0,239.0,3,238
emp-97,1,"Worked at Company - 789 , Company - 785 , Comp...",2011_10,Junior,0,200.0,176.0,96.0,176.0,2,126
emp-98,0,"Worked at Company - 817 , Company - 404 , Comp...",2011_11,Senior,1,244.0,220.0,80.0,35.0,4,385
emp-99,0,"Worked at Company - 204 , Company - 171 , Comp...",2011_11,Senior,1,244.0,242.0,56.0,73.5,2,238

In [ ]:
train.isnull().sum()

Left_Company         0
Job_History          0
Joining_Date         0
Designation          0
Sex                  0
TotalWorkingHours    0
Billable_Hours       0
Hours_off_Duty       0
Touring_Hours        0
NoOfProjects         0
ActualTimeSpent      0
dtype: int64

In [ ]:
train_final.head()

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,184.0,144.0,40.0,144.0,3,77
1,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,176.0,136.0,40.0,136.0,2,98
2,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,200.0,120.0,72.0,120.0,1,14
3,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,160.0,144.0,8.0,144.0,3,147
4,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,171.0,135.0,0.0,135.0,1,42

In [ ]:

emp_data.head()

,EmployeeID,Job_History,Joining_Date,Designation,Sex
0,emp-10,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0
1,emp-108,"Worked at Company - 205 , Company - 373 , Comp...",2012_01,VP,1
2,emp-115,"Worked at Company - 690 , Company - 280 , Comp...",2012_02,Senior,1
3,emp-121,"Worked at Company - 684 , Company - 159 , Comp...",2012_03,VP,1
4,emp-138,"Worked at Company - 443 , Company - 121 , Comp...",2012_05,Senior,1

In [ ]:
print("The employee data has {} rows & {} columns." .format(emp_data.shape[0], emp_data.shape[1]))

The employee data has 296 rows & 5 columns.

In [ ]:
test_attrition.head()

  EmployeeID  Left_Company
0    emp-106           NaN
1    emp-112           NaN
2    emp-114           NaN
3    emp-118           NaN
4     emp-12           NaN

## Merging the datasets based on the employee data.

## Merging the train data into a single datafrfame

In [ ]:
train_emp_data = pd.merge(train_attrition, emp_data, how='left', on='EmployeeID')

In [ ]:
train_emp_data.shape

(245, 6)

In [ ]:
train_final = pd.merge(train_emp_data, train_work, on='EmployeeID', how='left')

In [ ]:
print(train_final.shape)
train_final.head()

(3983, 12)

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,184.0,144.0,40.0,144.0,3,77
1,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,176.0,136.0,40.0,136.0,2,98
2,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,200.0,120.0,72.0,120.0,1,14
3,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,160.0,144.0,8.0,144.0,3,147
4,emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,171.0,135.0,0.0,135.0,1,42

In [ ]:

train = train_final.groupby('EmployeeID').agg('max')

In [ ]:
train.head()

,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
EmployeeID,,,,,,,,,,,
emp-1,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,205.0,189.0,72.0,189.0,3,231
emp-10,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0,241.0,233.0,120.0,186.0,2,147
emp-100,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1,278.0,264.0,40.0,264.0,3,308
emp-101,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1,345.5,233.5,64.0,0.0,2,217
emp-102,0,Worked at Company - 234,2011_12,Senior,1,270.0,249.0,88.0,213.0,2,231

## Merging the test data into Single data frame.

In [ ]:


test_emp_data = pd.merge(test_attrition, emp_data, how='left', on='EmployeeID')

In [ ]:
test_emp_data.head()

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex
0,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0
1,emp-112,NaN,"Worked at Company - 42 , Company - 432 , Compa...",2012_02,VP,1
2,emp-114,NaN,"Worked at Company - 99 , Company - 88 , Compan...",2012_02,EVP,1
3,emp-118,NaN,"Worked at Company - 554 , Company - 304",2012_04,EVP,1
4,emp-12,NaN,"Worked at Company - 548 , Company - 405",2006_09,VP,1

In [ ]:
test_final = pd.merge(test_emp_data,test_work, how='left', on='EmployeeID')

In [ ]:
test_final.head()

,EmployeeID,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,96.0,16.0,40.0,2.0,2,42
1,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,80.0,0.0,8.0,0.0,0,0
2,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,200.0,16.0,0.0,0.0,1,0
3,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,165.0,114.0,40.0,0.0,1,28
4,emp-106,NaN,"Worked at Company - 510 , Company - 658 , Comp...",2012_01,Senior,0,251.0,219.0,8.0,0.0,1,63

In [ ]:

test = test_final.groupby(by='EmployeeID').agg('max')

In [ ]:
test.shape

(51, 11)

In [ ]:

train.to_csv("train.csv", index=True)
test.to_csv("test.csv", index=True)

## Feature engineering:

In [ ]:
train_final = pd.read_csv("/content/train.csv")
test_final = pd.read_csv("/content/test.csv")

In [ ]:

print((train_final.columns))

Index(['EmployeeID', 'Left_Company', 'Job_History', 'Joining_Date',
       'Designation', 'Sex', 'TotalWorkingHours', 'Billable_Hours',
       'Hours_off_Duty', 'Touring_Hours', 'NoOfProjects', 'ActualTimeSpent'],
      dtype='object')

In [ ]:
print(test_final.columns)

Index(['EmployeeID', 'Left_Company', 'Job_History', 'Joining_Date',
       'Designation', 'Sex', 'TotalWorkingHours', 'Billable_Hours',
       'Hours_off_Duty', 'Touring_Hours', 'NoOfProjects', 'ActualTimeSpent'],
      dtype='object')

In [ ]:
#Dropping
train_final.drop(columns=['EmployeeID'], axis=1,inplace=True)
test_final.drop(columns=['EmployeeID','Left_Company'], axis=1, inplace=True)

In [ ]:
print("Train data shape : {} " .format(train_final.shape))
print("Test data shape: {} ".format(test_final.shape))

Train data shape : (245, 11)
Test data shape: (51, 10)

In [ ]:
train_final.head()

,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent
0,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,205.0,189.0,72.0,189.0,3,231
1,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0,241.0,233.0,120.0,186.0,2,147
2,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1,278.0,264.0,40.0,264.0,3,308
3,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1,345.5,233.5,64.0,0.0,2,217
4,0,Worked at Company - 234,2011_12,Senior,1,270.0,249.0,88.0,213.0,2,231

In [ ]:
# Splitting the Joini_date column into Joini year & Joiing month.

train_final[['joining_year','joining_month']] = train_final['Joining_Date'].str.split("_", expand=True)


test_final[['joining_year','joining_month']] = test_final['Joining_Date'].str.split("_", expand=True)

In [ ]:
#checking
train_final.head()

,Left_Company,Job_History,Joining_Date,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,joining_year,joining_month
0,0,"Worked at Company - 639 , Company - 212 , Comp...",2011_01,MD,1,205.0,189.0,72.0,189.0,3,231,2011,01
1,1,"Worked at Company - 816 , Company - 724 , Comp...",2006_02,VP,0,241.0,233.0,120.0,186.0,2,147,2006,02
2,0,"Worked at Company - 562 , Company - 319",2011_12,Senior,1,278.0,264.0,40.0,264.0,3,308,2011,12
3,0,"Worked at Company - 212 , Company - 668 , Comp...",2012_01,Senior,1,345.5,233.5,64.0,0.0,2,217,2012,01
4,0,Worked at Company - 234,2011_12,Senior,1,270.0,249.0,88.0,213.0,2,231,2011,12

In [ ]:
train_final['job_count'] = train_final['Job_History'].str.split(',').str.len()

test_final['job_count'] = test_final['Job_History'].str.split(',').str.len()

In [ ]:
#drop

train_final.drop(columns=['Joining_Date'], axis=1, inplace=True)


test_final.drop(columns=['Joining_Date'], axis=1, inplace=True)

In [ ]:
train_final.head()

,Left_Company,Job_History,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,joining_year,joining_month,job_count
0,0,"Worked at Company - 639 , Company - 212 , Comp...",MD,1,205.0,189.0,72.0,189.0,3,231,2011,01,3
1,1,"Worked at Company - 816 , Company - 724 , Comp...",VP,0,241.0,233.0,120.0,186.0,2,147,2006,02,4
2,0,"Worked at Company - 562 , Company - 319",Senior,1,278.0,264.0,40.0,264.0,3,308,2011,12,2
3,0,"Worked at Company - 212 , Company - 668 , Comp...",Senior,1,345.5,233.5,64.0,0.0,2,217,2012,01,3
4,0,Worked at Company - 234,Senior,1,270.0,249.0,88.0,213.0,2,231,2011,12,1

In [ ]:
train_final.dtypes #check

Left_Company           int64
Job_History           object
Designation           object
Sex                    int64
TotalWorkingHours    float64
Billable_Hours       float64
Hours_off_Duty       float64
Touring_Hours        float64
NoOfProjects           int64
ActualTimeSpent        int64
joining_year          object
joining_month         object
job_count              int64
dtype: object

In [ ]:
test_final.dtypes #check

Job_History           object
Designation           object
Sex                    int64
TotalWorkingHours    float64
Billable_Hours       float64
Hours_off_Duty       float64
Touring_Hours        float64
NoOfProjects           int64
ActualTimeSpent        int64
joining_year          object
joining_month         object
job_count              int64
dtype: object

In [ ]:

train_copy = train_final.copy()
test_copy = test_final.copy()

In [ ]:


for col in ['TotalWorkingHours','Billable_Hours','Hours_off_Duty','Touring_Hours']:
  train_final[col] = train_final[col].astype('float')

In [ ]:

for col in ['TotalWorkingHours','Billable_Hours','Hours_off_Duty','Touring_Hours']:
  test_final[col] = test_final[col].astype('float')

### Converting objects to categories

In [ ]:


for col in ['Sex','Designation','NoOfProjects','joining_year','joining_month','Job_History']:
  train_final[col] = train_final[col].astype('category')
#on testing data 

for col in ['Sex','Designation','NoOfProjects','joining_year','joining_month','Job_History']:
  test_final[col] = test_final[col].astype('category')

train_final['Left_Company'] = train_final['Left_Company'].astype('category')

In [ ]:


cat_attr = list(train_final.select_dtypes("category").columns) #exclude target column inthe list
num_attr = list(test_final.columns.difference(cat_attr))

# cat_attr.pop()

In [ ]:
cat_attr.remove('Left_Company')

In [ ]:
cat_attr

['Job_History',
 'Designation',
 'Sex',
 'NoOfProjects',
 'joining_year',
 'joining_month']

In [ ]:
num_attr

['ActualTimeSpent',
 'Billable_Hours',
 'Hours_off_Duty',
 'TotalWorkingHours',
 'Touring_Hours',
 'job_count']

### Columns with missing values

In [ ]:

missing_cols_train = train_final.columns[train_final.isnull().any()]
print(missing_cols_train)

missing_cols_test = test_final.columns[test_final.isnull().any()]
print(missing_cols_test)

Index([], dtype='object')
Index([], dtype='object')

In [ ]:
pip install optuna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: optuna in /usr/local/lib/python3.9/dist-packages (3.1.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from optuna) (4.65.0)
Requirement already satisfied: colorlog in /usr/local/lib/python3.9/dist-packages (from optuna) (6.7.0)
Requirement already satisfied: sqlalchemy>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from optuna) (2.0.9)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from optuna) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from optuna) (23.0)
Requirement already satisfied: alembic>=1.5.0 in /usr/local/lib/python3.9/dist-packages (from optuna) (1.10.3)
Requirement already satisfied: cmaes>=0.9.1 in /usr/local/lib/python3.9/dist-packages (from optuna) (0.9.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.9/dist-packages (from optuna) (6.0)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.9/dist-packages (from alembic>=1.5.0->optuna) (4.5.0)
Requirement already satisfied: Mako in /usr/local/lib/python3.9/dist-packages (from alembic>=1.5.0->optuna) (1.2.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy>=1.3.0->optuna) (2.0.2)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.9/dist-packages (from Mako->alembic>=1.5.0->optuna) (2.1.2)

In [ ]:
from sklearnex import patch_sklearn
patch_sklearn()
from IPython.display import HTML
from timeit import default_timer as timer
from sklearnex import patch_sklearn
# The names match scikit-learn estimators
patch_sklearn("SVC")
from sklearnex import patch_sklearn
# The names match scikit-learn estimators
patch_sklearn(["SVC", "DBSCAN","Kmeans"])
from sklearn.ensemble import StackingRegressor
import optuna 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, auc

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)
Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [ ]:
def objective(trial):
    params ={
        'C': trial.suggest_float('C', 0.000000001, 1.0),
        'random_state': 0,
        'n_jobs': -1,
    }
    model = LogisticRegression(**params).fit(x_train, y_train)
    y_pred = model.predict_proba(x_val)[:, 1]
    fpr, tpr, _ = roc_curve(y_val, y_pred)
    score = auc(fpr, tpr)
    return score

In [ ]:
study = optuna.create_study(sampler=optuna.samplers.TPESampler(seed=123),
                            direction="maximize",
                            pruner=optuna.pruners.HyperbandPruner())

[I 2023-04-14 11:57:42,437] A new study created in memory with name: no-name-5269b514-57b5-458d-a416-f8c785c0d4a7

## Dummification

In [ ]:
y= train_final['Left_Company']

del train_final['Left_Company']
X = train_final

In [ ]:

#One hot encoding  train

dummy_train = pd.get_dummies(data= X, columns= cat_attr, drop_first=True)

In [ ]:
dummy_train.shape

(245, 283)

In [ ]:
#One hot encoding in test

test_final = pd.get_dummies(data= test_final, columns= cat_attr, drop_first=True)

In [ ]:
print(test_final.shape)

(51, 86)

In [ ]:
# Aligninng 

dummy_train, test_final = dummy_train.align(test_final, join='left', axis=1)

In [ ]:
#checking for missing valurd;
print(test_final.isnull().sum().sum())

test_final.fillna(value=0, inplace=True)

12597

In [ ]:
#standardize 

std = StandardScaler() #Instantiating an object. 
std.fit(dummy_train) #Fittin gon th train data

std_x = std.transform(dummy_train) 
std_test = std.transform(test_final)

In [ ]:
print(std_x.shape)
print(std_test.shape)

(245, 283)
(51, 283)

In [ ]:
#### now predicting the model ny logisticc regression , desion treee  on 6 - yet to complete level 1

# Models On complete std data without splitting :

In [ ]:
log_reg = LogisticRegression()

log_reg.fit(std_x, y)

LogisticRegression()

In [ ]:
log_pred = log_reg.predict(std_x)

print(f1_score(y, log_pred))

1.0

##  Model-2  Decision tree :

In [ ]:
%%time
clf_dt =  DecisionTreeClassifier()

dt_param_grid = {'criterion': ['entropy', 'gini'], 
                 'max_depth': [3,4,5],
                 "min_samples_split": [2,5],
                 "min_samples_leaf": [1,3,5]}

dt_grid = GridSearchCV(clf_dt, param_grid=dt_param_grid, n_jobs=-1, cv=10,return_train_score=True)

dt_grid.fit(std_x,y)

print(dt_grid.best_params_)

dt_pred = dt_grid.predict(std_x)

print(f1_score(y, dt_pred))

{'criterion': 'entropy', 'max_depth': 3, 'min_samples_leaf': 1, 'min_samples_split': 2}
0.851063829787234
CPU times: user 413 ms, sys: 69.5 ms, total: 483 ms
Wall time: 4.45 s

## Model-3 --Build Gradient Boosting

In [ ]:

%%time
clf_gbc = GradientBoostingClassifier()

gbm_param_grid = {'max_depth': [2,3,4],
                  'subsample': [0.8,0.6],
                  'max_features':[0.3], 
                  'n_estimators': [10, 20, 30],
                  'learning_rate':[0.1]}

gbm_grid = GridSearchCV(clf_gbc, param_grid=gbm_param_grid, n_jobs =-1, cv=5)

gbm_grid.fit(std_x,y)

print("The Best parameters are: {} .".format(gbm_grid.best_params_))

train_pred_gb = gbm_grid.predict(std_x)

print(f1_score(y, train_pred_gb))

The Best parameters are: {'learning_rate': 0.1, 'max_depth': 2, 'max_features': 0.3, 'n_estimators': 20, 'subsample': 0.8} .
0.851063829787234
CPU times: user 204 ms, sys: 12.3 ms, total: 217 ms
Wall time: 2.09 s

In [ ]:
# Building model after outholding the dataset.

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(std_x, y, test_size=0.3, random_state=11, stratify=y)

In [ ]:
sm = SMOTE(random_state=2)

x_train_re, y_train_re = sm.fit_resample(x_train, y_train.ravel())
x_test_re, y_test_re = sm.fit_resample(x_test,y_test.ravel())

## Model-1 Gradient Boosting :

In [ ]:

%%time
clf_gbc = GradientBoostingClassifier()

gbm_param_grid = {'max_depth': [2,3,4],
                  'subsample': [0.8,0.6],
                  'max_features':[0.3, 0.4], 
                  'n_estimators': [1,2,3,4,5,6,7,8,9,10],
                  'learning_rate':[0.1, 0.01, 0.001]} #making learning rate lesser gave the best results

gbm_grid_1 = GridSearchCV(clf_gbc, param_grid=gbm_param_grid, n_jobs =-1, cv=5)

gbm_grid_1.fit(x_train_re,y_train_re)

print("The Best parameters are: {} .".format(gbm_grid_1.best_params_))

train_pred_gb_2 = gbm_grid_1.predict(x_train_re)
test_pred_gb_2 = gbm_grid_1.predict(x_test_re)
print(f1_score(y_train_re, train_pred_gb_2)*100)
print(f1_score(y_test_re, test_pred_gb_2)*100)

The Best parameters are: {'learning_rate': 0.1, 'max_depth': 4, 'max_features': 0.3, 'n_estimators': 10, 'subsample': 0.8} .
100.0
95.23809523809523
CPU times: user 1.45 s, sys: 56.8 ms, total: 1.51 s
Wall time: 27.5 s

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(std_x, y, test_size=0.3, random_state=11, stratify=y)

## Model-2  Logit Model :

In [ ]:
log_reg_2 = LogisticRegression()

log_reg_2.fit(x_train_re,y_train_re)

log_reg_pred_train = log_reg_2.predict(x_train_re)
log_reg_pred_test = log_reg_2.predict(x_test_re)

print(f1_score(y_train_re, log_reg_pred_train))
print(f1_score(y_test_re, log_reg_pred_test))

#prediction on test data

1.0
0.0

## Model-3 xgBoost :

In [ ]:

%%time
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
xgb = xgb.XGBClassifier()


kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=143)

param_grid = {"n_estimators" : [10,15],
              "max_depth" : [3,5,6,7],
              "colsample_bytree":[0.7,.8],
              "learning_rate": [0.001,0.01,0.1],
              "subsample":[0.8,0.6]}

xg_grid = GridSearchCV(xgb, param_grid=param_grid, n_jobs=-1, cv=kfold)


xg_grid.fit(x_train_re,y_train_re)

print(xg_grid.best_params_)

train_pred = xg_grid.predict(x_train_re)
test_pred = xg_grid.predict(x_test_re)

print("Train Score: {}." .format(f1_score(y_train_re, train_pred)))
print("Validation Score: {}." .format(f1_score(y_test_re, test_pred)))

{'colsample_bytree': 0.8, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 15, 'subsample': 0.8}
Train Score: 0.9933774834437086.
Validation Score: 0.9606299212598425.
CPU times: user 1.97 s, sys: 42.2 ms, total: 2.02 s
Wall time: 29.8 s

In [ ]:
## Model- 4 RF

In [ ]:
%%time
clf_rf = RandomForestClassifier()

kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=143)

param_grid = {"n_estimators" : [3,4,5,10,12,13,14],
              "max_depth" : [2,3,5,6],
              "max_features" : [3,4, 5, 7],
              "min_samples_leaf" : [4, 6, 8, 10]}

rf_grid = GridSearchCV(clf_rf, param_grid=dt_param_grid, cv=kfold)


rf_grid.fit(x_train_re,y_train_re)

print(rf_grid.best_params_)

train_pred_rf = rf_grid.predict(x_train_re)
test_pred_rf = rf_grid.predict(x_test_re)

print("Train Score: {} ." .format(f1_score(y_train_re, train_pred_rf)))
print("Validation Score: {} ." .format(f1_score(y_test_re, test_pred_rf)))

{'criterion': 'gini', 'max_depth': 3, 'min_samples_leaf': 1, 'min_samples_split': 5}
Train Score: 0.9900332225913622 .
Validation Score: 0.9606299212598425 .
CPU times: user 34.9 s, sys: 150 ms, total: 35.1 s
Wall time: 39.2 s

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier()

param_grid_knn = {'n_neighbors':[4,5,6]}

knn_grid = GridSearchCV(knn, param_grid=param_grid_knn, cv=5)


knn_grid.fit(x_train_re,y_train_re)

print(knn_grid.best_params_)

train_pred_rf = knn_grid.predict(x_train_re)
test_pred_rf = knn_grid.predict(x_test_re)

print("Train Score: {} ." .format(f1_score(y_train_re, train_pred_rf)))
print("Validation Score: {} ." .format(f1_score(y_test_re, test_pred_rf)))

{'n_neighbors': 4}
Train Score: 0.9967213114754099 .
Validation Score: 0.6666666666666666 .

# Models using Label Encoding.

In [ ]:
#convert floats into int

for col in ['TotalWorkingHours','Billable_Hours','Hours_off_Duty','Touring_Hours']:
  train_copy[col] = train_copy[col].astype('int')

In [ ]:
#Do the same on the test data 
for col in ['TotalWorkingHours','Billable_Hours','Hours_off_Duty','Touring_Hours']:
  test_copy[col] = test_copy[col].astype('int')

In [ ]:
#on training data

for col in ['Sex','Designation','NoOfProjects','joining_year','joining_month']:
  train_copy[col] = train_copy[col].astype('object')
#on testing data 

for col in ['Sex','Designation','NoOfProjects','joining_year','joining_month']:
  test_copy[col] = test_copy[col].astype('object')

train_copy['Left_Company'] = train_copy['Left_Company'].astype('category')

In [ ]:
del train_copy['Left_Company']

### Encoding the data using Label encoder

In [ ]:
#pass the label encoded data to the random forest Model

for x in train_copy.columns:
  if train_copy[x].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(train_copy[x].values))
        train_copy[x] = lbl.transform(list(train_copy[x].values))

In [ ]:
train_copy.head()

,Job_History,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,joining_year,joining_month,job_count
0,156,2,1,205,189,72,189,3,231,8,0,3
1,217,4,0,241,233,120,186,2,147,3,1,4
2,129,3,1,278,264,40,264,3,308,8,11,2
3,28,3,1,345,233,64,0,2,217,9,0,3
4,34,3,1,270,249,88,213,2,231,8,11,1

In [ ]:
x_train_l, x_test_l, y_train_l, y_test_l = train_test_split(train_copy, y, test_size= 0.3, random_state=12, stratify= y)

In [ ]:
test_copy.head()

,Job_History,Designation,Sex,TotalWorkingHours,Billable_Hours,Hours_off_Duty,Touring_Hours,NoOfProjects,ActualTimeSpent,joining_year,joining_month,job_count
0,"Worked at Company - 510 , Company - 658 , Comp...",Senior,0,278,263,90,2,2,203,2012,01,4
1,"Worked at Company - 42 , Company - 432 , Compa...",VP,1,273,256,72,176,3,182,2012,02,3
2,"Worked at Company - 99 , Company - 88 , Compan...",EVP,1,275,179,48,176,3,154,2012,02,3
3,"Worked at Company - 554 , Company - 304",EVP,1,238,215,40,160,3,238,2012,04,2
4,"Worked at Company - 548 , Company - 405",VP,1,293,228,88,228,4,315,2006,09,2

### The training data is insufficient & it is underfitting when building the models. 


### The target labelled data is class imbalanced & should perform SMOTE method to over sample the data, It may be helpful in building the model without underfitting.

### Feature Engineering can be done by using the Job_History column by counting the no of companies he worked earlier & make better predictions.

# Deep Learning Techniques :

In [ ]:
#importing packages 
from sklearnex import patch_sklearn
patch_sklearn()
import tensorflow as tf 
import keras
from keras import Sequential
from keras.layers import Dense, BatchNormalization, Dropout
from keras.layers import Activation

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [ ]:
# chceking the splitted data 
print(x_train_re.shape)
print(x_test_re.shape)
print(y_train_re.shape)
print(y_test_re.shape)

(304, 283)
(132, 283)
(304,)
(132,)

In [ ]:
#chcecking the label encoded  data 

print(x_train_l.shape)
print(x_test_l.shape)
print(y_train_l.shape) 
print(y_test_l.shape)

(171, 12)
(74, 12)
(171,)
(74,)

In [ ]:
x_train_l.dtypes

Job_History          int64
Designation          int64
Sex                  int64
TotalWorkingHours    int64
Billable_Hours       int64
Hours_off_Duty       int64
Touring_Hours        int64
NoOfProjects         int64
ActualTimeSpent      int64
joining_year         int64
joining_month        int64
job_count            int64
dtype: object

In [ ]:
model = Sequential()

#layer-1
model.add(Dense(6,kernel_initializer='glorot_uniform', input_dim=283))
# model.add(BatchNormalization())
model.add(Activation('relu'))

#layer -2 

#model.add(Dense(6, kernel_initializer='glorot_uniform', activation='relu'))
#model.add(BatchNormalization())

#layer-3 -Output layer 

model.add(Dense(1, activation='softmax', kernel_initializer='glorot_normal'))

#compiling the model 

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model_1 = model.fit(std_x, y, epochs=100, batch_size=22, validation_split=0.1)

Epoch 1/100
10/10 [==============================] - 1s 24ms/step - loss: 0.6634 - accuracy: 0.1136 - val_loss: 0.6969 - val_accuracy: 0.0800
Epoch 2/100
10/10 [==============================] - 0s 5ms/step - loss: 0.5962 - accuracy: 0.1136 - val_loss: 0.7080 - val_accuracy: 0.0800
Epoch 3/100
10/10 [==============================] - 0s 5ms/step - loss: 0.5400 - accuracy: 0.1136 - val_loss: 0.7167 - val_accuracy: 0.0800
Epoch 4/100
10/10 [==============================] - 0s 10ms/step - loss: 0.4927 - accuracy: 0.1136 - val_loss: 0.7267 - val_accuracy: 0.0800
Epoch 5/100
10/10 [==============================] - 0s 5ms/step - loss: 0.4557 - accuracy: 0.1136 - val_loss: 0.7355 - val_accuracy: 0.0800
Epoch 6/100
10/10 [==============================] - 0s 5ms/step - loss: 0.4205 - accuracy: 0.1136 - val_loss: 0.7441 - val_accuracy: 0.0800
Epoch 7/100
10/10 [==============================] - 0s 6ms/step - loss: 0.3917 - accuracy: 0.1136 - val_loss: 0.7516 - val_accuracy: 0.0800
Epoch 8/100
10/10 [==============================] - 0s 7ms/step - loss: 0.3654 - accuracy: 0.1136 - val_loss: 0.7594 - val_accuracy: 0.0800
Epoch 9/100
10/10 [==============================] - 0s 5ms/step - loss: 0.3426 - accuracy: 0.1136 - val_loss: 0.7666 - val_accuracy: 0.0800
Epoch 10/100
10/10 [==============================] - 0s 7ms/step - loss: 0.3218 - accuracy: 0.1136 - val_loss: 0.7712 - val_accuracy: 0.0800
Epoch 11/100
10/10 [==============================] - 0s 6ms/step - loss: 0.3033 - accuracy: 0.1136 - val_loss: 0.7764 - val_accuracy: 0.0800
Epoch 12/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2856 - accuracy: 0.1136 - val_loss: 0.7811 - val_accuracy: 0.0800
Epoch 13/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2700 - accuracy: 0.1136 - val_loss: 0.7846 - val_accuracy: 0.0800
Epoch 14/100
10/10 [==============================] - 0s 8ms/step - loss: 0.2549 - accuracy: 0.1136 - val_loss: 0.7878 - val_accuracy: 0.0800
Epoch 15/100
10/10 [==============================] - 0s 8ms/step - loss: 0.2416 - accuracy: 0.1136 - val_loss: 0.7901 - val_accuracy: 0.0800
Epoch 16/100
10/10 [==============================] - 0s 7ms/step - loss: 0.2287 - accuracy: 0.1136 - val_loss: 0.7933 - val_accuracy: 0.0800
Epoch 17/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2173 - accuracy: 0.1136 - val_loss: 0.7957 - val_accuracy: 0.0800
Epoch 18/100
10/10 [==============================] - 0s 5ms/step - loss: 0.2059 - accuracy: 0.1136 - val_loss: 0.8001 - val_accuracy: 0.0800
Epoch 19/100
10/10 [==============================] - 0s 6ms/step - loss: 0.1960 - accuracy: 0.1136 - val_loss: 0.8027 - val_accuracy: 0.0800
Epoch 20/100
10/10 [==============================] - 0s 8ms/step - loss: 0.1862 - accuracy: 0.1136 - val_loss: 0.8060 - val_accuracy: 0.0800
Epoch 21/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1775 - accuracy: 0.1136 - val_loss: 0.8096 - val_accuracy: 0.0800
Epoch 22/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1694 - accuracy: 0.1136 - val_loss: 0.8140 - val_accuracy: 0.0800
Epoch 23/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1616 - accuracy: 0.1136 - val_loss: 0.8164 - val_accuracy: 0.0800
Epoch 24/100
10/10 [==============================] - 0s 7ms/step - loss: 0.1540 - accuracy: 0.1136 - val_loss: 0.8203 - val_accuracy: 0.0800
Epoch 25/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1475 - accuracy: 0.1136 - val_loss: 0.8247 - val_accuracy: 0.0800
Epoch 26/100
10/10 [==============================] - 0s 5ms/step - loss: 0.1413 - accuracy: 0.1136 - val_loss: 0.8276 - val_accuracy: 0.0800
Epoch 27/100
10/10 [==============================] - 0s 7ms/step - loss: 0.1356 - accuracy: 0.1136 - val_loss: 0.8313 - val_accuracy: 0.0800
Epoch 28/100
10/10 [==============================] - 0s 10ms/step - loss: 0.1302 - accuracy: 0.1136 - val_loss: 0.8341 - val_accuracy: 0.0800
Epoch 29/100
10/10 [==============================] - 0s 8ms/step - loss: 0.1254 - accuracy: 0.1136 - val_loss: 0.8384 - val_accuracy: 0.0800
Epoch 30/100
10/10 [==============================] - 0s 9ms/step - loss: 0.1206 - accuracy: 0.1136 - val_loss: 0.8428 - val_accuracy: 0.0800
Epoch 31/100
10/10 [==============================] - 0s 10ms/step - loss: 0.1162 - accuracy: 0.1136 - val_loss: 0.8457 - val_accuracy: 0.0800
Epoch 32/100
10/10 [==============================] - 0s 7ms/step - loss: 0.1120 - accuracy: 0.1136 - val_loss: 0.8488 - val_accuracy: 0.0800
Epoch 33/100
10/10 [==============================] - 0s 10ms/step - loss: 0.1081 - accuracy: 0.1136 - val_loss: 0.8513 - val_accuracy: 0.0800
Epoch 34/100
10/10 [==============================] - 0s 8ms/step - loss: 0.1044 - accuracy: 0.1136 - val_loss: 0.8535 - val_accuracy: 0.0800
Epoch 35/100
10/10 [==============================] - 0s 7ms/step - loss: 0.1010 - accuracy: 0.1136 - val_loss: 0.8567 - val_accuracy: 0.0800
Epoch 36/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0979 - accuracy: 0.1136 - val_loss: 0.8591 - val_accuracy: 0.0800
Epoch 37/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0949 - accuracy: 0.1136 - val_loss: 0.8621 - val_accuracy: 0.0800
Epoch 38/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0922 - accuracy: 0.1136 - val_loss: 0.8636 - val_accuracy: 0.0800
Epoch 39/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0896 - accuracy: 0.1136 - val_loss: 0.8671 - val_accuracy: 0.0800
Epoch 40/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0872 - accuracy: 0.1136 - val_loss: 0.8698 - val_accuracy: 0.0800
Epoch 41/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0849 - accuracy: 0.1136 - val_loss: 0.8716 - val_accuracy: 0.0800
Epoch 42/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0828 - accuracy: 0.1136 - val_loss: 0.8729 - val_accuracy: 0.0800
Epoch 43/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0808 - accuracy: 0.1136 - val_loss: 0.8747 - val_accuracy: 0.0800
Epoch 44/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0789 - accuracy: 0.1136 - val_loss: 0.8780 - val_accuracy: 0.0800
Epoch 45/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0770 - accuracy: 0.1136 - val_loss: 0.8798 - val_accuracy: 0.0800
Epoch 46/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0754 - accuracy: 0.1136 - val_loss: 0.8816 - val_accuracy: 0.0800
Epoch 47/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0738 - accuracy: 0.1136 - val_loss: 0.8846 - val_accuracy: 0.0800
Epoch 48/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0723 - accuracy: 0.1136 - val_loss: 0.8865 - val_accuracy: 0.0800
Epoch 49/100
10/10 [==============================] - 0s 10ms/step - loss: 0.0709 - accuracy: 0.1136 - val_loss: 0.8882 - val_accuracy: 0.0800
Epoch 50/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0695 - accuracy: 0.1136 - val_loss: 0.8900 - val_accuracy: 0.0800
Epoch 51/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0682 - accuracy: 0.1136 - val_loss: 0.8912 - val_accuracy: 0.0800
Epoch 52/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0671 - accuracy: 0.1136 - val_loss: 0.8933 - val_accuracy: 0.0800
Epoch 53/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0659 - accuracy: 0.1136 - val_loss: 0.8950 - val_accuracy: 0.0800
Epoch 54/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0647 - accuracy: 0.1136 - val_loss: 0.8961 - val_accuracy: 0.0800
Epoch 55/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0637 - accuracy: 0.1136 - val_loss: 0.8965 - val_accuracy: 0.0800
Epoch 56/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0627 - accuracy: 0.1136 - val_loss: 0.8978 - val_accuracy: 0.0800
Epoch 57/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0618 - accuracy: 0.1136 - val_loss: 0.9008 - val_accuracy: 0.0800
Epoch 58/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0609 - accuracy: 0.1136 - val_loss: 0.9032 - val_accuracy: 0.0800
Epoch 59/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0600 - accuracy: 0.1136 - val_loss: 0.9040 - val_accuracy: 0.0800
Epoch 60/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0592 - accuracy: 0.1136 - val_loss: 0.9050 - val_accuracy: 0.0800
Epoch 61/100
10/10 [==============================] - 0s 10ms/step - loss: 0.0584 - accuracy: 0.1136 - val_loss: 0.9060 - val_accuracy: 0.0800
Epoch 62/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0576 - accuracy: 0.1136 - val_loss: 0.9071 - val_accuracy: 0.0800
Epoch 63/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0569 - accuracy: 0.1136 - val_loss: 0.9078 - val_accuracy: 0.0800
Epoch 64/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0562 - accuracy: 0.1136 - val_loss: 0.9092 - val_accuracy: 0.0800
Epoch 65/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0556 - accuracy: 0.1136 - val_loss: 0.9105 - val_accuracy: 0.0800
Epoch 66/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0549 - accuracy: 0.1136 - val_loss: 0.9110 - val_accuracy: 0.0800
Epoch 67/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0543 - accuracy: 0.1136 - val_loss: 0.9115 - val_accuracy: 0.0800
Epoch 68/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0537 - accuracy: 0.1136 - val_loss: 0.9133 - val_accuracy: 0.0800
Epoch 69/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0532 - accuracy: 0.1136 - val_loss: 0.9148 - val_accuracy: 0.0800
Epoch 70/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0526 - accuracy: 0.1136 - val_loss: 0.9155 - val_accuracy: 0.0800
Epoch 71/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0521 - accuracy: 0.1136 - val_loss: 0.9163 - val_accuracy: 0.0800
Epoch 72/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0516 - accuracy: 0.1136 - val_loss: 0.9177 - val_accuracy: 0.0800
Epoch 73/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0511 - accuracy: 0.1136 - val_loss: 0.9179 - val_accuracy: 0.0800
Epoch 74/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0506 - accuracy: 0.1136 - val_loss: 0.9177 - val_accuracy: 0.0800
Epoch 75/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0502 - accuracy: 0.1136 - val_loss: 0.9181 - val_accuracy: 0.0800
Epoch 76/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0497 - accuracy: 0.1136 - val_loss: 0.9188 - val_accuracy: 0.0800
Epoch 77/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0493 - accuracy: 0.1136 - val_loss: 0.9189 - val_accuracy: 0.0800
Epoch 78/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0489 - accuracy: 0.1136 - val_loss: 0.9194 - val_accuracy: 0.0800
Epoch 79/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0485 - accuracy: 0.1136 - val_loss: 0.9197 - val_accuracy: 0.0800
Epoch 80/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0481 - accuracy: 0.1136 - val_loss: 0.9198 - val_accuracy: 0.0800
Epoch 81/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0477 - accuracy: 0.1136 - val_loss: 0.9203 - val_accuracy: 0.0800
Epoch 82/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0474 - accuracy: 0.1136 - val_loss: 0.9214 - val_accuracy: 0.0800
Epoch 83/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0471 - accuracy: 0.1136 - val_loss: 0.9219 - val_accuracy: 0.0800
Epoch 84/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0467 - accuracy: 0.1136 - val_loss: 0.9232 - val_accuracy: 0.0800
Epoch 85/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0464 - accuracy: 0.1136 - val_loss: 0.9239 - val_accuracy: 0.0800
Epoch 86/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0461 - accuracy: 0.1136 - val_loss: 0.9246 - val_accuracy: 0.0800
Epoch 87/100
10/10 [==============================] - 0s 10ms/step - loss: 0.0458 - accuracy: 0.1136 - val_loss: 0.9245 - val_accuracy: 0.0800
Epoch 88/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0455 - accuracy: 0.1136 - val_loss: 0.9244 - val_accuracy: 0.0800
Epoch 89/100
10/10 [==============================] - 0s 8ms/step - loss: 0.0452 - accuracy: 0.1136 - val_loss: 0.9247 - val_accuracy: 0.0800
Epoch 90/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0449 - accuracy: 0.1136 - val_loss: 0.9262 - val_accuracy: 0.0800
Epoch 91/100
10/10 [==============================] - 0s 10ms/step - loss: 0.0446 - accuracy: 0.1136 - val_loss: 0.9265 - val_accuracy: 0.0800
Epoch 92/100
10/10 [==============================] - 0s 11ms/step - loss: 0.0443 - accuracy: 0.1136 - val_loss: 0.9264 - val_accuracy: 0.0800
Epoch 93/100
10/10 [==============================] - 0s 9ms/step - loss: 0.0441 - accuracy: 0.1136 - val_loss: 0.9258 - val_accuracy: 0.0800
Epoch 94/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0438 - accuracy: 0.1136 - val_loss: 0.9265 - val_accuracy: 0.0800
Epoch 95/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0436 - accuracy: 0.1136 - val_loss: 0.9260 - val_accuracy: 0.0800
Epoch 96/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0433 - accuracy: 0.1136 - val_loss: 0.9254 - val_accuracy: 0.0800
Epoch 97/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0431 - accuracy: 0.1136 - val_loss: 0.9250 - val_accuracy: 0.0800
Epoch 98/100
10/10 [==============================] - 0s 6ms/step - loss: 0.0428 - accuracy: 0.1136 - val_loss: 0.9249 - val_accuracy: 0.0800
Epoch 99/100
10/10 [==============================] - 0s 5ms/step - loss: 0.0426 - accuracy: 0.1136 - val_loss: 0.9251 - val_accuracy: 0.0800
Epoch 100/100
10/10 [==============================] - 0s 7ms/step - loss: 0.0424 - accuracy: 0.1136 - val_loss: 0.9250 - val_accuracy: 0.0800

## *** Tier 2 successfully completed***